@font-face {
  font-family:'equipThin';
  src:url('../fonts/equip/equip_thin/EquipThi-webfont.eot');
  src:url('../fonts/equip/equip_thin/EquipThi-webfont.eot?#iefix') format('eot'), url('../fonts/equip/equip_thin/EquipThi-webfont.woff') format('woff'), url('../fonts/equip/equip_thin/EquipThi-webfont.ttf') format('truetype'), url('../fonts/equip/equip_thin/EquipThi-webfont.svg') format('svg');
  font-weight:normal;
  font-style:normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
}
.COMMON-CATEGORY-PRICE {
  font-size:21px;
  color:#c76200;
}
.COMMON-CATEGORY-ADD-TO-CART-BUTTON {
  background:#f18200;
  text-align:center;
  white-space:nowrap;
  text-transform:uppercase;
  color:#ffffff;
}
.MOBILE-DASHBOARD-P {
  padding:30px;
  font-size:30px;
  text-align:center;
}
* {
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  font-weight:normal;
}
html, body {
  color:#666666;
  font-family:'equipThin';
  font-weight:normal;
  background-color:white;
  -webkit-overflow-scrolling:touch;
  overflow-x:hidden;
}
input { font-family:'equipThin'; }
ul {
  list-style-type:none;
  padding:0;
  margin:0;
}
a {
  color:#cc0000;
  text-decoration:none;
}
.responsive-header-container {
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  height:100%;
  overflow-y:auto;
  overflow-x:hidden;
  background-color:#873035;
}
.responsive-site-container {
  display:block;
  position:relative;
  z-index:2;
  box-shadow:0 0 15px rgba(0,0,0,0.5);
  background-color:white;
}
.responsive-site-container.open { margin-left:250px; }
h1.logo, .header>a.logo {
  -webkit-transition:width .25s ease;
  -moz-transition:width .25s ease;
  -ms-transition:width .25s ease;
  -o-transition:width .25s ease;
  transition:width .25s ease;
}
