/*                                                                                __         
                                                __                               /\ \        
  ___ ___      __   _ __   ___     __     _ __ /\_\        ___    ___      __  __\ \ \/'\    
/' __` __`\  /'__`\/\`'__\/'___\ /'__`\  /\`'__\/\ \      /'___\ / __`\   /\ \/\ \\ \ , <    
/\ \/\ \/\ \/\  __/\ \ \//\ \__//\ \L\.\_\ \ \/ \ \ \  __/\ \__//\ \L\ \__\ \ \_\ \\ \ \\`\  
\ \_\ \_\ \_\ \____\\ \_\\ \____\ \__/.\_\\ \_\  \ \_\/\_\ \____\ \____/\_\\ \____/ \ \_\ \_\
 \/_/\/_/\/_/\/____/ \/_/ \/____/\/__/\/_/ \/_/   \/_/\/_/\/____/\/___/\/_/ \/___/   \/_/\/_/

 <site name here> - CSS File

*/
@import "../fonts/fontsheet.less";
@import "config.less";

* {
    margin:0; padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: normal;
}

html, body {
    color : @default-text-color;
    font-family  : @default-font;
    font-weight: normal;
    background-color:white;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}

input {
    font-family: @default-font;
}

ul { list-style-type: none; padding:0; margin:0 }

a {
    color: @default-link-color;
    text-decoration: none;
}

/* LAYOUT LAYERS */

/* this will contain the menu on the left, thumbnavigable */
.responsive-header-container {
    position: absolute;
    top: 0; left: 0;
    z-index: 1;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: @slideout-background;
}

/* this will contain the main content that will slide right to reveal the menu
 * In mobile mode it will also slide left to reveal sidebar.
 * Complicated? Naaaaaaah
 *
 */
.responsive-site-container {
    display: block;    
    position: relative;
    z-index: 2;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    background-color: white;
}

.responsive-site-container.open { margin-left: @slideout-width; }

/* things that move go here */
@import "transitions.less";