h1.logo,
.header>a.logo {
    -webkit-transition: width .25s ease;
       -moz-transition: width .25s ease;
        -ms-transition: width .25s ease;
         -o-transition: width .25s ease;
            transition: width .25s ease;
}