<div class="close"><span>X</span> Close</div>
<div class="slideout-links">
    <ul class="links-container">
        <li><a href="#" class="head-link">Account</a>
            <?php echo $this->getChildHtml('top.links') ?>
        </li>
    </ul>
</div>
<div class="slideout-menu" title="Categories">
    <ul class="nav-container">
        <li><a href="#" class="head-link">Products</a>
            <?php echo $this->getChildHtml('topMenu') ?>
        </li>
    </ul>
</div>