/*  Header style  */

/******************
       STEP 3
******************/
.responsive-site-container {

    .header-container {


        /* this contains all basic nav*/
        .header {

            .nav-access,
            .search-button,
            .go-left,
            .go-right {
                display: none;
             }

            .quick-access ul.links ul {
                display: none;
            }

        }    

        .cart {
            display: none;
        }

    }

}