/* General Layout */
/******************
       STEP 3
******************/

html, body {
    height: auto;
}

.responsive-site-container {
    position: relative;
    display: block;
    width: 960px;
    overflow: hidden;
    margin: 0 auto;

    .container {

        overflow: hidden;
        margin-top: 0;

        .layout-1-col,
        .layout-2-cols,
        .layout-3-cols {
            
            width : 100%;
            margin-left: 0 !important;
        
            .content-wrapper {
                width            : 100%;
                overflow         : hidden;
            }

            aside {
                display: none;
                width:50%; /* this is 50% of 200% so... 100% LOL*/
                background-color: green;
                float:left;
            }

        }

    }

}