/* FONT DEFINITION */
/*
 *
 *
 * I included one font so all the paths are correct.
 * Just add @fontname (for font family), @path and @fontfile (for the font's actual file name)
 * Duplicate the block as necessary and change 1 to 2, 3, etc...!
*/

@fontname1: 'equipThin';
@fontpath1: 'equip/equip_thin';
@fontfile1: 'EquipThi-webfont';

@font-face {
  font-family: @fontname1;
  src: url('../fonts/@{fontpath1}/@{fontfile1}.eot');
  src: url('../fonts/@{fontpath1}/@{fontfile1}.eot?#iefix') format('eot'),
       url('../fonts/@{fontpath1}/@{fontfile1}.woff') format('woff'),
       url('../fonts/@{fontpath1}/@{fontfile1}.ttf') format('truetype'),
       url('../fonts/@{fontpath1}/@{fontfile1}.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'equipThin';
    src: url('../fonts/@{fontpath1}/EquipThi-webfont.svg') format('svg');
    }
}