/* General Layout */
/************************
         MEDIUM
*************************/

.responsive-site-container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto; /* will allow margin on the container */

    -webkit-transition: margin-left @slideout-transition-time @slideout-transition-easing;
       -moz-transition: margin-left @slideout-transition-time @slideout-transition-easing;
        -ms-transition: margin-left @slideout-transition-time @slideout-transition-easing;
         -o-transition: margin-left @slideout-transition-time @slideout-transition-easing;
            transition: margin-left @slideout-transition-time @slideout-transition-easing;

    .scroll-wrapper {
        height:500px;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 500px;
        margin-top: 50px;
        display: inline-block;
    }

    .container {

        background-color:blue;
        overflow: hidden;
        margin-top: @mobile-bar-top-height;

        .layout-1-col,
        .layout-2-cols,
        .layout-3-cols {
            
            width:200%;
            -webkit-transition: margin-left @sidebar-transition-time @sidebar-transition-easing;
               -moz-transition: margin-left @sidebar-transition-time @sidebar-transition-easing;
                -ms-transition: margin-left @sidebar-transition-time @sidebar-transition-easing;
                 -o-transition: margin-left @sidebar-transition-time @sidebar-transition-easing;
                    transition: margin-left @sidebar-transition-time @sidebar-transition-easing;
        
            .content-wrapper {
                width:50%; /* this is 50% of 200% so... 100% LOL*/
                background-color: yellow;
                float:left;

                .main,
                .sidebar {
                    width: 100%;
                    overflow: hidden;
                }

            }

            aside {
                width:50%; /* this is 50% of 200% so... 100% LOL*/
                background-color: green;
                float:left;
            }

        }

    }

}