.product-view .product-essential .product-name,
.product-view .product-shop {
    width: 50%;
    float:right;
}

.product-view .product-img-box {
    float:left;
    width: 50%
}

.product-view .box-tags .form-add .input-box {
    float:left;
    width:49.5%;
    margin:0 0 5px 0;
    background:url(../images/i_tag_add.gif) 0 2px no-repeat;
    padding:0;
}

.product-view .box-tags .form-add button.button {
    width:49.5%;
    margin-left: 1%;
    vertical-align: middle;
    overflow: hidden;
}

.product-view .box-tags .form-add button.button span {
    padding:6px;
}

.email-friend, .no-rating {
    width: 100%;
    margin-top: 1%;
}

.no-rating {

}