.COMMON-CATEGORY-PRICE {
  font-size:21px;
  color:#c76200;
}
.COMMON-CATEGORY-ADD-TO-CART-BUTTON {
  background:#f18200;
  text-align:center;
  white-space:nowrap;
  text-transform:uppercase;
  color:#ffffff;
}
.MOBILE-DASHBOARD-P {
  padding:30px;
  font-size:30px;
  text-align:center;
}
.responsive-header-container ul.links, .responsive-header-container ul.navigation {
  max-height:0;
  overflow:hidden;
  -webkit-transition:max-height .35s cubic-bezier(1.000,0.000,0.000,1.000);
  -moz-transition:max-height .35s cubic-bezier(1.000,0.000,0.000,1.000);
  -ms-transition:max-height .35s cubic-bezier(1.000,0.000,0.000,1.000);
  -o-transition:max-height .35s cubic-bezier(1.000,0.000,0.000,1.000);
  transition:max-height .35s cubic-bezier(1.000,0.000,0.000,1.000);
}
.responsive-header-container ul li.last a { margin-bottom:0; }
.responsive-header-container .slideout-links ul li a, .responsive-header-container .slideout-links ul li.current strong {
  display:block;
  padding:8px;
  font:18px 'equipThin';
  background-color:#c65d63;
  margin-bottom:1px;
  max-width:320px;
  width:250px;
  color:white;
  padding-left:36px;
}
.responsive-header-container .slideout-links ul.links > li > a {
  background:#bc434a;
  color:white;
  padding-left:24px;
}
.responsive-header-container .slideout-links ul li.current strong {
  background-color:#ce7479;
  color:#873035;
}
.responsive-header-container .slideout-links a.head-link {
  color:white;
  background:url('/skin/frontend/boilerplate/default/img/slideout-arrow-closed.png') no-repeat center right #a23940;
  text-transform:uppercase;
  padding-left:12px;
}
.responsive-header-container .slideout-links .open > a.head-link {
  color:white;
  background:url('/skin/frontend/boilerplate/default/img/slideout-arrow-open.png') no-repeat center right #a23940;
}
.responsive-header-container .slideout-links ul.links > li > a.level-top { background:#bc434a; }
.responsive-header-container .slideout-links ul.links > li > a.level-top:after {
  font-family:FontAwesome;
  content:"\f054";
  font-size:12px;
  margin-left:10px;
}
.responsive-header-container .slideout-links ul.links > li.open > a.level-top {
  background:#bc434a;
  color:white;
}
.responsive-header-container .slideout-links ul.links > li.open > a.level-top:after {
  font-family:FontAwesome;
  content:"\f078";
  font-size:12px;
  margin-left:10px;
}
.responsive-header-container .slideout-menu ul li a {
  display:block;
  padding:8px;
  font:18px 'equipThin';
  color:white;
  background-color:#c65d63;
  margin-bottom:1px;
  max-width:320px;
  width:250px;
}
.responsive-header-container .slideout-menu a.head-link {
  color:;
  background:url('/skin/frontend/boilerplate/default/img/slideout-arrow-closed.png') no-repeat center right #ad3d44;
  text-transform:uppercase;
}
.responsive-header-container .slideout-menu .open > a.head-link { background:url('/skin/frontend/boilerplate/default/img/slideout-arrow-open.png') no-repeat center right #ad3d44; }
.responsive-header-container .slideout-menu .open > a.level-top { background:url('/skin/frontend/boilerplate/default/img/slideout-arrow-open-small.png') no-repeat center right #c45960; }
.responsive-header-container .slideout-menu .nav-container a.head-link {
  background-color:;
  text-transform:uppercase;
}
.responsive-header-container .slideout-menu ul li a.level-top {
  padding-left:12px;
  background:url('/skin/frontend/boilerplate/default/img/slideout-arrow-closed-small.png') no-repeat center right #c45960;
  color:;
}
.responsive-header-container .slideout-menu ul li .level1 a {
  padding-left:24px;
  background:#d27f84;
  color:;
}
.responsive-header-container .slideout-menu ul li .level2 a { padding-left:36px; }
.responsive-header-container ul.visible {
  max-height:1000px;
  display:block;
}
.responsive-header-container ul.hide {
  max-height:0;
  overflow:hidden;
}
.responsive-header-container .close {
  display:table-cell;
  vertical-align:middle;
  padding-left:12px;
  font:18px 'equipThin';
  background-color:#4f1c1f;
  margin-bottom:1px;
  min-width:250px;
  color:white;
  cursor:pointer;
  height:50px;
}
.responsive-header-container .close span {
  background-color:red;
  color:white;
  border-radius:15px;
  padding:2px 8px;
}
html, body { height:100%; }
.responsive-site-container {
  position:relative;
  display:block;
  width:100%;
  height:100%;
  min-width:320px;
  overflow:auto;
  -webkit-transition:margin-left 0.5s cubic-bezier(0.190,1.000,0.220,1.000);
  -moz-transition:margin-left 0.5s cubic-bezier(0.190,1.000,0.220,1.000);
  -ms-transition:margin-left 0.5s cubic-bezier(0.190,1.000,0.220,1.000);
  -o-transition:margin-left 0.5s cubic-bezier(0.190,1.000,0.220,1.000);
  transition:margin-left 0.5s cubic-bezier(0.190,1.000,0.220,1.000);
}
.responsive-site-container .scroll-wrapper {
  height:500px;
  width:100%;
  overflow-y:scroll;
  overflow-x:hidden;
  height:500px;
  margin-top:50px;
  display:inline-block;
}
.responsive-site-container .container {
  background-color:transparent;
  overflow:hidden;
  margin-top:50px;
}
.responsive-site-container .container .layout-1-col, .responsive-site-container .container .layout-2-cols, .responsive-site-container .container .layout-3-cols { width:200%; }
.responsive-site-container .container .layout-1-col .content-wrapper, .responsive-site-container .container .layout-2-cols .content-wrapper, .responsive-site-container .container .layout-3-cols .content-wrapper {
  width:50%;
  background-color:transparent;
  float:left;
}
.responsive-site-container .container .layout-1-col .content-wrapper .col-main, .responsive-site-container .container .layout-1-col .content-wrapper .sidebar, .responsive-site-container .container .layout-2-cols .content-wrapper .col-main, .responsive-site-container .container .layout-2-cols .content-wrapper .sidebar, .responsive-site-container .container .layout-3-cols .content-wrapper .col-main, .responsive-site-container .container .layout-3-cols .content-wrapper .sidebar {
  width:100%;
  overflow:hidden;
}
.responsive-site-container .container .layout-1-col .cart, .responsive-site-container .container .layout-2-cols .cart, .responsive-site-container .container .layout-3-cols .cart {
  width:50%;
  background-color:green;
  float:left;
}
.responsive-site-container .container .layout-3-cols.layered { width:300%; }
.responsive-site-container .container .layout-3-cols.layered .content-wrapper, .responsive-site-container .container .layout-3-cols.layered .cart, .responsive-site-container .container .layout-3-cols.layered .layered {
  width:33.33333%;
  float:left;
}
.responsive-site-container .container .layout-3-cols.move-enabled, .responsive-site-container .container .layout-2-cols.move-enabled, .responsive-site-container .container .layout-1-col.move-enabled {
  -webkit-transition:margin-left 0.5s cubic-bezier(0.190,1.000,0.220,1.000);
  -moz-transition:margin-left 0.5s cubic-bezier(0.190,1.000,0.220,1.000);
  -ms-transition:margin-left 0.5s cubic-bezier(0.190,1.000,0.220,1.000);
  -o-transition:margin-left 0.5s cubic-bezier(0.190,1.000,0.220,1.000);
  transition:margin-left 0.5s cubic-bezier(0.190,1.000,0.220,1.000);
}
.wrapper { min-width:954px; }
.page-print {
  background:#ffffff;
  padding:25px 30px;
  text-align:left;
}
.page-empty {
  background:#ffffff;
  padding:20px;
  text-align:left;
}
.page-popup {
  background:#ffffff;
  padding:25px 30px;
  text-align:left;
}
.main-container { background:#fbfaf6 url(../images/bkg_main1.gif) 50% 0 no-repeat; }
.main {
  width:900px;
  margin:0 auto;
  min-height:400px;
  padding:0;
  background:#fffffe url(../images/bkg_main2.gif) 0 0 no-repeat;
  text-align:left;
}
.col-left {
  float:left;
  width:195px;
  padding:0 0 1px;
}
.col-main {
  float:left;
  width:685px;
  padding:0 0 1px;
}
.col-right {
  float:right;
  width:195px;
  padding:0 0 1px;
}
.col1-layout .col-main {
  float:none;
  width:auto;
}
.col2-left-layout .col-main { float:right; }
.col3-layout .col-main { width:475px; }
.col3-layout .col-wrapper {
  float:left;
  width:687px;
}
.col3-layout .col-wrapper .col-main { float:right; }
.col2-set .col-1 { width:100%; }
.col2-set .col-2 { width:100%; }
.col2-set .col-narrow { width:32%; }
.col2-set .col-wide { width:65%; }
.col3-set .col-1 {
  float:left;
  width:32%;
}
.col3-set .col-2 {
  float:left;
  width:32%;
  margin-left:2%;
}
.col3-set .col-3 {
  float:right;
  width:32%;
}
.col4-set .col-1 {
  float:left;
  width:23.5%;
}
.col4-set .col-2 {
  float:left;
  width:23.5%;
  margin:0 2%;
}
.col4-set .col-3 {
  float:left;
  width:23.5%;
}
.col4-set .col-4 {
  float:right;
  width:23.5%;
}
.responsive-site-container .header-container {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:50px;
  background-color:transparent;
  overflow:visible;
}
.responsive-site-container .header-container .header {
  position:relative;
  height:100%;
  width:100%;
  background-color:#4f1c1f;
  z-index:3;
  overflow:hidden;
  display:table;
}
.responsive-site-container .header-container .header h1 strong { display:none; }
.responsive-site-container .header-container .header .nav-access, .responsive-site-container .header-container .header .quick-access, .responsive-site-container .header-container .header .search-button, .responsive-site-container .header-container .header .go-left, .responsive-site-container .header-container .header .go-right {
  display:table-cell;
  height:100%;
  vertical-align:middle;
  text-align:center;
}
.responsive-site-container .header-container .header .nav-access, .responsive-site-container .header-container .header .search-button, .responsive-site-container .header-container .header .go-left, .responsive-site-container .header-container .header .go-right {
  cursor:pointer;
  font-size:18px;
  min-width:50px;
}
.responsive-site-container .header-container .header h1.logo {
  display:table-cell;
  width:97%;
  vertical-align:middle;
  text-align:left;
  padding:0 8px 0 8px;
  font-size:10px;
}
.responsive-site-container .header-container .header h1.logo a {
  display:block;
  width:100%;
}
.responsive-site-container .header-container .header h1.logo a img {
  vertical-align:middle;
  padding-left:8px;
  width:100%;
  max-height:50px;
}
.responsive-site-container .header-container .header .nav-access {
  padding-left:8px;
  font-size:26px;
  color:white;
  width:1%;
}
.responsive-site-container .header-container .header .quick-access { display:none; }
.responsive-site-container .header-container .header .search-button {
  padding:0 2px 0 2px;
  font-size:26px;
  color:white;
  width:1%;
}
.responsive-site-container .header-container .header .search-button .fa-search { color:white; }
.responsive-site-container .header-container .header .search-button.open { background:gray; }
.responsive-site-container .header-container .header .go-left {
  padding:0 2px 0 2px;
  font-size:26px;
  color:white;
}
.responsive-site-container .header-container .header .go-right {
  padding:0 2px 0 2px;
  font-size:26px;
  color:white;
  width:1%;
}
.responsive-site-container .header-container .header>a.logo {
  display:table-cell;
  width:97%;
  vertical-align:middle;
  text-align:left;
  padding:0 8px 0 8px;
  font-size:10px;
}
.responsive-site-container .header-container .header>a.logo img {
  vertical-align:middle;
  padding-left:8px;
  width:100%;
  max-height:50px;
}
.responsive-site-container .header-container .searchbar {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background:gray;
  z-index:2;
  display:table;
  vertical-align:middle;
  -webkit-transition:top .25s cubic-bezier(0.455,0.030,0.515,0.955);
  -moz-transition:top .25s cubic-bezier(0.455,0.030,0.515,0.955);
  -ms-transition:top .25s cubic-bezier(0.455,0.030,0.515,0.955);
  -o-transition:top .25s cubic-bezier(0.455,0.030,0.515,0.955);
  transition:top .25s cubic-bezier(0.455,0.030,0.515,0.955);
}
.responsive-site-container .header-container .searchbar label { display:none; }
.responsive-site-container .header-container .searchbar form, .responsive-site-container .header-container .searchbar i {
  display:block;
  vertical-align:middle;
}
.responsive-site-container .header-container .searchbar form { padding:6px 28px 0 28px; }
.responsive-site-container .header-container .searchbar form input {
  font-size:24px;
  padding:4px;
  border-radius:4px;
  width:100%;
  border:0;
  outline:0;
}
.responsive-site-container .header-container .searchbar form button { display:none; }
.responsive-site-container .header-container .searchbar.open { top:100%; }
.responsive-site-container .header-container .cart { display:none; }
ul.navigation { display:none; }
.breadcrumbs { display:none; }
input, select, textarea, button {
  font:12px / 15px Arial, 'equipThin';
  vertical-align:middle;
  color:#2f2f2f;
}
.no-display { display:none; }
input.input-text, select, textarea {
  background:#ffffff;
  border:1px solid #b6b6b6;
  padding:4px;
  border-radius:4px;
  font-family:'equipThin';
  font-size:25px;
  font-weight:normal;
  outline:none;
  vertical-align:middle;
}
select { padding:1px; }
select option { padding-right:10px; }
select.multiselect option {
  border-bottom:1px solid #b6b6b6;
  padding:2px 5px;
}
select.multiselect option:last-child { border-bottom:0; }
textarea { overflow:auto; }
input.radio { margin-right:3px; }
input.checkbox { margin-right:3px; }
input.qty { width:2.5em !important; }
button.button::-moz-focus-inner {
  padding:0;
  border:0;
}
button.button { -webkit-border-fit:lines; }
button.button {
  overflow:visible;
  width:100%;
  border:0;
  padding:0;
  margin:0;
  background:transparent;
  cursor:pointer;
}
button.button span {
  display:block;
  height:auto;
  background:#f18200;
  padding:18px;
  font:normal 18px 'equipThin';
  text-align:center;
  white-space:nowrap;
  color:#ffffff;
}
button.button span span {
  border:0;
  padding:0;
}
button.disabled span {
  border-color:#bbbbbb !important;
  background:#bbbbbb !important;
}
button.btn-checkout span {
  height:40px;
  border:0;
  background:url(../images/btn_checkout.gif) 0 0 no-repeat;
  padding:0 0 0 9px;
  font:bold 15px / 40px Arial, Helvetica, sans-serif;
  color:#ffffff;
}
button.btn-checkout span span {
  background-position:100% 0;
  padding:0 25px 0 16px;
}
button.btn-checkout.no-checkout span {
  background-position:0 100%;
  color:#b8baba;
}
button.btn-checkout.no-checkout span span { background-position:100% 100%; }
p.control input.checkbox, p.control input.radio {
  margin-right:6px;
  vertical-align:middle;
  outline:none;
}
input.input-text:focus, select:focus, textarea:focus { background-color:#edf7fd; }
.form-list li { margin:0 0 8px; }
.form-list label {
  float:left;
  color:#666666;
  font:normal 18px 'equipThin';
  position:relative;
  z-index:0;
  vertical-align:middle;
}
.form-list label.required em {
  float:right;
  font-style:normal;
  color:#eb340a;
  position:absolute;
  top:0;
  right:-8px;
}
.form-list li.control label { float:none; }
.form-list li.control input.radio, .form-list li.control input.checkbox { margin-right:6px; }
.form-list li.control .input-box {
  clear:none;
  display:inline;
  width:auto;
}
.form-list .input-box {
  display:block;
  clear:both;
  width:100%;
}
.form-list .field {
  float:none;
  width:100%;
}
.form-list input.input-text { width:100%; }
.form-list textarea {
  width:100%;
  height:10em;
}
.form-list select { width:100%; }
.form-list li.wide .input-box { width:100%; }
.form-list li.wide input.input-text { width:100%; }
.form-list li.wide textarea { width:529px; }
.form-list li.wide select { width:535px; }
.form-list li.additional-row {
  border-top:1px solid #cccccc;
  margin-top:10px;
  padding-top:7px;
}
.form-list li.additional-row .btn-remove {
  float:right;
  margin:5px 0 0;
}
.form-list .input-range input.input-text { width:74px; }
.form-list-narrow li { margin-bottom:0; }
.form-list-narrow li .input-box { margin-bottom:6px; }
.form-list-narrow li.wide .input-box { width:260px; }
.form-list-narrow li.wide input.input-text, .form-list-narrow li.wide textarea { width:254px; }
.form-list-narrow li.wide select { width:260px; }
.form-list .customer-name-prefix .input-box, .form-list .customer-name-suffix .input-box, .form-list .customer-name-prefix-suffix .input-box, .form-list .customer-name-prefix-middlename .input-box, .form-list .customer-name-middlename-suffix .input-box, .form-list .customer-name-prefix-middlename-suffix .input-box { width:auto; }
.form-list .name-prefix { width:65px; }
.form-list .name-prefix select { width:55px; }
.form-list .name-prefix input.input-text { width:49px; }
.form-list .name-suffix { width:65px; }
.form-list .name-suffix select { width:55px; }
.form-list .name-suffix input.input-text { width:49px; }
.form-list .customer-name-prefix-middlename-suffix .name-firstname, .form-list .customer-name-prefix-middlename .name-firstname { width:140px; }
.form-list .customer-name-prefix-middlename-suffix .name-firstname input.input-text, .form-list .customer-name-prefix-middlename .name-firstname input.input-text { width:124px; }
.form-list .customer-name-prefix-middlename-suffix .name-lastname { width:205px; }
.form-list .customer-name-prefix-middlename-suffix .name-lastname input.input-text { width:189px; }
.form-list .customer-name-prefix-suffix .name-firstname { width:210px; }
.form-list .customer-name-prefix-suffix .name-lastname { width:205px; }
.form-list .customer-name-prefix-suffix .name-firstname input.input-text, .form-list .customer-name-prefix-suffix .name-lastname input.input-text { width:189px; }
.form-list .customer-name-prefix-suffix .name-firstname { width:210px; }
.form-list .customer-name-prefix-suffix .name-lastname { width:205px; }
.form-list .customer-name-prefix-suffix .name-firstname input.input-text, .form-list .customer-name-prefix-suffix .name-lastname input.input-text { width:189px; }
.form-list .customer-name-prefix .name-firstname, .form-list .customer-name-middlename .name-firstname, .form-list .customer-name-middlename .name-middlename { width:210px; }
.form-list .customer-name-suffix .name-lastname, .form-list .customer-name-middlename .name-firstname, .form-list .customer-name-middlename .name-middlename, .form-list .customer-name-middlename-suffix .name-firstname, .form-list .customer-name-middlename-suffix .name-lastname { width:205px; }
.form-list .customer-name-prefix .name-firstname input.input-text, .form-list .customer-name-suffix .name-lastname input.input-text, .form-list .customer-name-middlename .name-firstname input.input-text, .form-list .customer-name-middlename .name-middlename input.input-text, .form-list .customer-name-middlename-suffix .name-firstname input.input-text, .form-list .customer-name-middlename-suffix .name-lastname input.input-text { width:189px; }
.form-list .customer-dob .dob-month, .form-list .customer-dob .dob-day, .form-list .customer-dob .dob-year {
  float:left;
  width:85px;
}
.form-list .customer-dob input.input-text {
  display:block;
  width:74px;
}
.form-list .customer-dob label {
  font-size:10px;
  font-weight:normal;
  color:#888888;
}
.form-list .customer-dob .dob-day, .form-list .customer-dob .dob-month { width:60px; }
.form-list .customer-dob .dob-day input.input-text, .form-list .customer-dob .dob-month input.input-text { width:46px; }
.form-list .customer-dob .dob-year { width:140px; }
.form-list .customer-dob .dob-year input.input-text { width:134px; }
.buttons-set {
  clear:both;
  padding:0;
  border:0;
  text-align:right;
}
.buttons-set p.required {
  margin:0 0 10px;
  padding:18px;
  background-color:red;
  color:white;
}
.buttons-set p.back-link {
  float:left;
  margin-top:1%;
  width:30%;
}
.buttons-set p.back-link a {
  display:block;
  text-align:center;
  background-color:green;
  padding:18px;
  font-size:18px;
  color:white;
}
.review-product-list .no-rating {
  float:none;
  width:100%;
  display:none;
}
.downloadable-customer-products p.back-link, .tag-customer-index p.back-link, .wishlist-index-index p.back-link, .review-customer-index p.back-link, .review-product-list p.back-link, .sales-recurring-profile-index p.back-link, .sales-billing-agreement-index p.back-link {
  float:none;
  width:100%;
}
.buttons-set-order { margin:10px 0 0; }
.buttons-set-order .please-wait { padding:12px 7px 0 0; }
.fieldset, fieldset {
  border:none;
  background:#fbfaf6;
  padding:22px 25px 12px 25px;
}
.fieldset .legend {
  float:none;
  font:normal 28px 'equipThin';
  border-bottom:1px solid #4f1c1f;
  background:transparent;
  color:#4f1c1f;
  margin:0 0 16px 0;
  padding:10px 0;
  position:relative;
}
.validation-advice {
  clear:both;
  min-height:13px;
  margin:3px 0 0;
  padding-left:17px;
  font-size:11px;
  font-weight:bold;
  line-height:13px;
  background:url(../images/validation_advice_bg.gif) 2px 0 no-repeat;
  color:#eb340a;
}
.validation-failed {
  border:1px dashed #eb340a !important;
  background:#faebe7 !important;
}
p.required {
  font-size:11px;
  text-align:right;
  color:#eb340a;
}
.v-fix { float:left; }
.v-fix .validation-advice {
  display:block;
  width:12em;
  margin-right:-12em;
  position:relative;
}
.success {
  color:#3d6611;
  font-weight:bold;
}
.error {
  color:#df280a;
  font-weight:bold;
}
.notice { color:#e26703; }
.messages, .messages ul {
  list-style:none !important;
  margin:0 !important;
  padding:0 !important;
}
.messages {
  width:100%;
  overflow:hidden;
}
.messages li { margin:0 0 10px !important; }
.messages li li {
  margin:0 0 3px !important;
  padding:16px;
}
.error-msg, .success-msg, .note-msg, .notice-msg {
  border-style:solid !important;
  border-width:1px !important;
  background-position:10px 9px !important;
  background-repeat:no-repeat !important;
  min-height:24px !important;
  padding:16px !important;
  font:normal 18px 'equipThin';
}
.error-msg {
  border-color:#f16048;
  background-color:#faebe7;
  background-image:url(../images/i_msg-error.gif);
  color:#df280a;
}
.success-msg {
  border-color:#446423;
  background-color:#eff5ea;
  background-image:url(../images/i_msg-success.gif);
  color:#3d6611;
}
.note-msg, .notice-msg {
  border-color:#fcd344;
  background-color:#fafaec;
  background-image:url(../images/i_msg-note.gif);
  color:#3d6611;
}
.breadcrumbs {
  font-size:11px;
  line-height:1.25;
  margin:0 0 13px;
}
.breadcrumbs li { display:inline; }
.breadcrumbs li strong { font-weight:bold; }
.page-title {
  background:#854c4f;
  width:100%;
  overflow:hidden;
  padding:18px;
}
.page-title h1, .page-title h2 {
  font:normal 18px 'equipThin';
  color:white;
  text-transform:uppercase;
}
.page-title .separator { margin:0 3px; }
.page-title .link-rss {
  float:right;
  margin:7px 0 0;
}
.title-buttons { text-align:right; }
.title-buttons h1, .title-buttons h2, .title-buttons h3, .title-buttons h4, .title-buttons h5, .title-buttons h6 { float:left; }
.subtitle, .sub-title {
  clear:both;
  padding:15px 0 0;
  font-size:15px;
  font-weight:bold;
  margin:0 0 6px;
  color:#e25203;
}
.pager {
  font-size:11px;
  background:#ffffff url(../images/bkg_toolbar.gif) 0 100% repeat-x;
  padding:4px 8px;
  border-top:1px solid #e2e2e2;
  text-align:center;
}
.pager .amount {
  float:left;
  margin:0;
  font-size:18px;
  line-height:36px;
}
.pager .limiter {
  float:right;
  font-size:18px;
}
.pager .limiter label { vertical-align:middle; }
.pager .limiter select {
  padding:0;
  margin:0 0 1px;
  vertical-align:middle;
}
.pager .pages { margin:0 140px; }
.pager .pages ol { display:inline; }
.pager .pages li {
  display:inline;
  margin:0 2px;
}
.sorter {
  font-size:11px;
  background:#ffffff url(../images/bkg_toolbar.gif) 0 100% repeat-x;
  padding:3px 8px;
  border-top:1px solid #e2e2e2;
}
.sorter .view-mode { display:none; }
.sorter .sort-by {
  display:block;
  text-align:center;
  height:20px;
  padding:5px;
}
.sorter .sort-by label {
  vertical-align:middle;
  font-size:18px;
}
.sorter .sort-by select {
  padding:0;
  margin:0 0 1px;
  vertical-align:middle;
}
.sorter .sort-by a { height:100%; }
.toolbar .pager {
  padding:3px 20px;
  border-bottom:1px solid #ffffff;
}
.toolbar .sorter { border-bottom:1px solid #ffffff; }
.data-table {
  width:100%;
  border:1px solid #bebcb7;
}
.data-table .odd { background:#f8f7f5; }
.data-table .even { background:#eeeded; }
.data-table td.last, .data-table th.last { border-right:0; }
.data-table tr.last th, .data-table tr.last td { border-bottom:0 !important; }
.data-table th {
  padding:3px 8px;
  font-weight:bold;
}
.data-table td { padding:3px 8px; }
.data-table thead th {
  font-weight:bold;
  border-right:1px solid #c2d3e0;
  padding:2px 8px;
  color:#0a263c;
  white-space:nowrap;
  vertical-align:middle;
}
.data-table thead th.wrap { white-space:normal; }
.data-table thead th a, .data-table thead th a:hover { color:#ffffff; }
.data-table thead th { background:url(../images/bkg_th.gif) repeat-x 0 100% #d9e5ee; }
.data-table thead th .tax-flag {
  font-size:11px;
  white-space:nowrap;
}
.data-table tfoot { border-bottom:1px solid #d9dde3; }
.data-table tfoot tr.first td { background:url(../images/bkg_tfoot.gif) 0 0 repeat-x; }
.data-table tfoot tr { background-color:#dee5e8 !important; }
.data-table tfoot td {
  padding-top:1px;
  padding-bottom:1px;
  border-bottom:0;
  border-right:1px solid #d9dde3;
}
.data-table tfoot strong { font-size:16px; }
.data-table tbody th, .data-table tbody td {
  border-bottom:1px solid #d9dde3;
  border-right:1px solid #d9dde3;
}
.data-table tbody.odd tr { background:#f8f7f5 !important; }
.data-table tbody.even tr { background:#f6f6f6 !important; }
.data-table tbody.odd tr td, .data-table tbody.even tr td { border-bottom:0; }
.data-table tbody.odd tr.border td, .data-table tbody.even tr.border td { border-bottom:1px solid #d9dde3; }
.data-table tbody td .option-label {
  font-weight:bold;
  font-style:italic;
}
.data-table tbody td .option-value { padding-left:10px; }
.info-box {
  background:#ffffff url(../images/bkg_block-title.gif) 0 0 repeat-x;
  border:1px solid #d0cbc1;
  padding:12px 15px;
  margin:0 0 15px;
}
.info-box h2 {
  font-weight:bold;
  font-size:13px;
}
.info-table th {
  font-weight:bold;
  padding:2px 15px 2px 0;
}
.info-table td { padding:2px 0; }
tr.summary-total { cursor:pointer; }
tr.summary-total .summary-collapse {
  float:right;
  text-align:right;
  padding-left:20px;
  background:url(../images/bkg_collapse.gif) 0 5px no-repeat;
  cursor:pointer;
}
tr.show-details .summary-collapse { background-position:0 -52px; }
tr.summary-details td {
  font-size:11px;
  background-color:#dae1e4;
  color:#626465;
}
tr.summary-details-first td { border-top:1px solid #d2d8db; }
tr.summary-details-excluded { font-style:italic; }
.cart-tax-info { display:block; }
.cart-tax-info, .cart-tax-info .cart-price { padding-right:20px; }
.cart-tax-total {
  display:block;
  padding-right:20px;
  background:url(../images/bkg_collapse.gif) 100% 5px no-repeat;
  cursor:pointer;
}
.cart-tax-info .price, .cart-tax-total .price {
  display:inline !important;
  font-weight:normal !important;
}
.cart-tax-total-expanded { background-position:100% -52px; }
.std .subtitle { padding:0; }
.std ol.ol {
  list-style:decimal outside;
  padding-left:1.5em;
}
.std ul.disc {
  list-style:disc outside;
  padding-left:18px;
  margin:0 0 10px;
}
.std dl dt { font-weight:bold; }
.std dl dd { margin:0 0 10px; }
.std ul, .std ol, .std dl, .std p, .std address, .std blockquote {
  margin:0 0 1em;
  padding:0;
}
.std ul {
  list-style:disc outside;
  padding-left:1.5em;
}
.std ol {
  list-style:decimal outside;
  padding-left:1.5em;
}
.std ul ul { list-style-type:circle; }
.std ul ul, .std ol ol, .std ul ol, .std ol ul { margin:.5em 0; }
.std dt { font-weight:bold; }
.std dd { padding:0 0 0 1.5em; }
.std blockquote {
  font-style:italic;
  padding:0 0 0 1.5em;
}
.std address { font-style:normal; }
.std b, .std strong { font-weight:bold; }
.std i, .std em { font-style:italic; }
.links li { display:inline; }
.links li.first { padding-left:0 !important; }
.links li.last {
  background:none !important;
  padding-right:0 !important;
}
.link-cart {
  color:#dc6809 !important;
  font-weight:bold;
}
.link-wishlist {
  color:white !important;
  background-color:green;
}
.link-reorder {
  font-weight:bold;
  color:#dc6809 !important;
}
.link-compare {
  color:white !important;
  background-color:green;
}
.link-print {
  font-weight:bold;
  color:#dc6809;
}
.link-rss {
  background:url(../images/i_rss.gif) 0 2px no-repeat;
  padding-left:18px;
  line-height:14px;
  white-space:nowrap;
}
.btn-remove {
  display:block;
  width:11px;
  height:11px;
  font-size:0;
  line-height:0;
  background:url(../images/btn_remove.gif) 0 0 no-repeat;
  text-indent:-999em;
  overflow:hidden;
}
.btn-previous {
  display:block;
  width:11px;
  height:11px;
  font-size:0;
  line-height:0;
  background:url(../images/btn_previous.gif) 0 0 no-repeat;
  text-indent:-999em;
  overflow:hidden;
}
.btn-remove2 {
  display:block;
  width:16px;
  height:16px;
  font-size:0;
  line-height:0;
  background:url(../images/btn_trash.gif) 0 0 no-repeat;
  text-indent:-999em;
  overflow:hidden;
}
.btn-edit {
  display:block;
  width:11px;
  height:11px;
  font-size:0;
  line-height:0;
  background:url(../images/btn_edit.gif) 0 0 no-repeat;
  text-indent:-999em;
  overflow:hidden;
}
.cards-list dt { margin:5px 0 0; }
.cards-list .offset { padding:2px 0 2px 20px; }
.separator { margin:0 3px; }
.divider {
  clear:both;
  display:block;
  font-size:0;
  line-height:0;
  height:1px;
  margin:10px 0;
  background:url(../images/bkg_divider1.gif) 0 50% repeat-x;
  text-indent:-999em;
  overflow:hidden;
}
.global-site-notice {
  border:1px solid #cfcfcf;
  border-width:0 0 1px;
  background:#ffff90;
  font-size:12px;
  line-height:1.25;
  text-align:center;
  color:#2f2f2f;
}
.global-site-notice .notice-inner {
  width:860px;
  margin:0 auto;
  padding:12px 0 12px 80px;
  background:url(../images/i_notice.gif) 20px 25px no-repeat;
  text-align:left;
}
.global-site-notice .notice-inner p {
  margin:0;
  border:1px dotted #cccc73;
  padding:10px;
}
.global-site-notice .notice-inner .actions { padding-top:10px; }
.notice-cookie {
  position:fixed;
  z-index:9999;
  width:100%;
  bottom:0;
  left:0;
  margin:0 !important;
  opacity:0.95;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
}
.demo-notice {
  margin:0;
  padding:6px 10px;
  background:#d75f07;
  font-size:12px;
  line-height:1.15;
  border:0;
  text-align:center;
  color:#ffffff;
}
.demo-notice .notice-inner {
  width:auto;
  padding:0;
  background:none;
  text-align:center;
}
.demo-notice .notice-inner p {
  padding:0;
  border:0;
}
.block {
  border:1px solid #c4c1bc;
  margin:0 0 15px;
}
.block .block-title {
  background:url(../images/bkg_block-title.gif) 0 0 repeat-x;
  border-bottom:1px solid #dddddd;
  padding:2px 9px;
}
.block .block-title strong {
  display:block;
  font:bold 12px / 16px Arial, Helvetica, sans-serif;
  min-height:16px;
  padding:1px 0 1px;
  text-transform:uppercase;
  color:#e26703;
}
.block .block-title a { text-decoration:none !important; }
.block .block-subtitle {
  margin:0;
  padding:5px 9px;
  font-size:1em;
  font-weight:bold;
  color:#0a263c;
}
.block .block-content { background:#f8f7f5; }
.block .block-content li.item { padding:7px 9px; }
.block .block-content .product-name { color:#1e7ec8; }
.block .btn-remove, .block .btn-edit {
  float:right;
  margin:1px 0 2px 5px;
}
.block .actions {
  background:#dee5e8 url(../images/bkg_block-actions.gif) 0 0 repeat-x;
  padding:6px 9px;
  text-align:right;
}
.block .actions a { float:left; }
.block .actions button.button { float:right; }
.block .empty {
  margin:0;
  padding:5px 9px;
}
.block li.odd { background-color:#f4f3f3; }
.block li.even { background-color:#fafafa; }
.block-cart, .block-wishlist, .block-subscribe, .block-compare, .block-reorder, .block-poll, .block-gr-search, .block-viewed, .block-compared, .block-related, .block-tags, .block-login {
  font-size:11px;
  line-height:1.25;
}
.block-cart .block-title strong, .block-wishlist .block-title strong, .block-subscribe .block-title strong, .block-compare .block-title strong, .block-reorder .block-title strong, .block-poll .block-title strong, .block-viewed .block-title strong, .block-compared .block-title strong, .block-related .block-title strong, .block-tags .block-title strong, .block-login .block-title strong {
  background-position:0 0;
  background-repeat:no-repeat;
  padding-left:21px;
}
.mini-products-list .product-image {
  float:left;
  width:50px;
  border:1px solid #a9a9a9;
}
.mini-products-list .product-details { margin-left:60px; }
.block-cart .mini-products-list .product-details .product-name, .block-cart .mini-products-list .product-details .nobr small { word-wrap:break-word; }
.block-cart .mini-products-list .product-details .nobr { white-space:normal !important; }
.block-account { display:none; }
.block-account .block-title {
  background:#fc9d36 url(../images/bkg_block-title-account.gif) 0 100% repeat-x;
  border:0;
  padding:3px 10px;
}
.block-account .block-title strong {
  font-size:13px;
  color:#ffffff;
}
.block-account .block-content {
  background:#fbfaf6;
  padding:7px 10px 7px;
}
.block-account .block-content li a {
  display:block;
  border-bottom:1px solid #dddddd;
  padding:3px 0;
  color:#5f5d5c;
  text-decoration:none !important;
}
.block-account .block-content li a:hover { color:#ea7900; }
.block-account .block-content li.last a { border-bottom:0; }
.block-account .block-content li.current {
  border-bottom:1px solid #dddddd;
  padding:3px 0;
  color:#ea7900;
}
.block-account .block-content li.current.last { border-bottom:0; }
.block-currency {
  border:0;
  background:url(../images/bkg_block-currency.gif) 0 0 no-repeat;
  padding:7px 12px 10px;
  height:51px;
}
.block-currency .block-title {
  background:none;
  border:0;
  padding:0;
  margin:0 0 5px;
}
.block-currency .block-title strong {
  font:bold 13px / 21px Arial, Helvetica, sans-serif;
  background:url(../images/i_block-currency.gif) 0 50% no-repeat;
  padding:0 0 0 21px;
  text-transform:none;
  color:#ffffff;
}
.block-currency .block-content {
  background:none;
  padding:0;
}
.block-currency .block-content select {
  width:100%;
  padding:0;
}
.block-layered-nav { border:0; }
.block-layered-nav .block-title {
  border:0;
  padding:0;
  height:24px;
  background:url(../images/bkg_block-layered-title.gif) 0 0 no-repeat;
  text-indent:-999em;
  overflow:hidden;
}
.block-layered-nav .block-subtitle {
  line-height:1.35;
  background:#d5e8ff url(../images/bkg_block-layered1.gif) 0 50% repeat;
  padding:3px 9px;
  border:1px solid #b9ccdd;
  border-width:1px 0;
  text-transform:uppercase;
  color:#1f5070;
}
.block-layered-nav .block-content {
  border:1px solid #a0b3c3;
  background:#e7f1f4;
}
.block-layered-nav dt {
  background:url(../images/bkg_block-layered-dt.gif) 9px 11px no-repeat;
  padding:7px 10px 0 25px;
  font-weight:bold;
  text-transform:uppercase;
}
.block-layered-nav dd {
  padding:0 12px 12px;
  background:url(../images/bkg_block-layered-dd.gif) 0 100% repeat-x;
}
.block-layered-nav dd.last { background:none; }
.block-layered-nav .currently li {
  background:#ffffff url(../images/bkg_block-layered-li.gif) 0 100% repeat-x;
  padding:6px 24px 6px 10px;
  position:relative;
  z-index:1;
  line-height:1.5;
}
.block-layered-nav .currently .label {
  font-weight:bold;
  padding-left:15px;
  background:url(../images/bkg_block-layered-label.gif) 0 4px no-repeat;
  text-transform:uppercase;
  display:inline-block;
  vertical-align:top;
}
.block-layered-nav .currently .value {
  display:inline-block;
  vertical-align:top;
}
.block-layered-nav .currently .btn-previous, .block-layered-nav .currently .btn-remove {
  position:absolute;
  right:4px;
  top:9px;
  margin:0;
}
.block-layered-nav .currently .btn-previous { right:17px; }
.block-layered-nav .actions {
  font-size:11px;
  padding:4px 5px 4px 9px;
  background:#cad6e4;
  border:1px solid #dee5e8;
  border-width:1px 0;
  text-align:right;
}
.block-layered-nav .actions a { float:none; }
.block-cart .block-title strong { background-image:url(../images/i_block-cart.gif); }
.block-cart .summary {
  background:#ffffff;
  padding:2px 8px 8px;
  margin:-1px 0 0;
  position:relative;
  z-index:1;
}
.block-cart .amount { margin:0; }
.block-cart .amount a { font-weight:bold; }
.block-cart .subtotal {
  margin:5px 0 0;
  padding:2px 0;
  background:#fbebd9;
  text-align:center;
}
.block-cart .subtotal .price { font-weight:bold; }
.block-cart .actions { border-bottom:1px solid #c2c2c2; }
.block-cart .actions .paypal-logo {
  float:left;
  width:100%;
  margin:3px 0 0;
  text-align:right;
}
.block-cart .actions .paypal-logo .paypal-or {
  clear:both;
  display:block;
  padding:0 55px 8px 0;
}
.block-wishlist .block-title strong { background-image:url(../images/i_block-wishlist.gif); }
.block-wishlist .actions { text-align:right; }
.block-wishlist .actions a { float:none; }
.block-related .block-title strong {
  background-image:url(../images/i_block-related.gif);
  background-position:0 1px;
}
.block-related input.checkbox { float:left; }
.block-related .product { margin-left:20px; }
.block-compare .block-title strong {
  background-image:url(../images/i_block-list.gif);
  background-position:0 1px;
}
.block-compare button.button span {
  border-color:#406a83;
  background:#618499;
}
.page-popup .link-print {
  background:url(../images/i_print.gif) 0 2px no-repeat;
  padding:2px 0 2px 25px;
  font-weight:bold;
  color:#1e7ec8;
}
.compare-table { border:0; }
.compare-table thead tr.first th, .compare-table thead tr.first td {
  border:0;
  background:none;
  padding:0;
  font-size:0;
  line-height:0;
}
.compare-table .btn-remove {
  float:right;
  background-image:url(../images/btn_remove2.gif);
  width:72px;
  height:15px;
}
.compare-table tbody th { background:#d9e5ee url(../images/bkg_th-v.gif) 100% 0 repeat-y; }
.compare-table tbody th, .compare-table tbody td {
  padding:10px;
  border:0;
  border-top:1px solid #cccccc;
  border-left:1px solid #cccccc;
}
.compare-table tbody td.last { border-right:1px solid #cccccc; }
.compare-table tbody tr.last th, .compare-table tbody tr.last td { border-bottom:1px solid #cccccc !important; }
.compare-table tr.add-to-row td {
  background:#fffada;
  text-align:center;
}
.compare-table tr.first td { text-align:center; }
.compare-table tr.first td .product-name {
  font-size:13px;
  font-weight:bold;
  margin:0 0 5px;
  color:#203548;
}
.compare-table tr.first td .product-name a { color:#203548; }
.compare-table tr.first td .ratings {
  width:69px;
  margin:0 auto;
}
.compare-table tr.first td p, .compare-table tr.add-to-row td p { margin:0; }
.block-viewed .block-title strong { background-image:url(../images/i_block-viewed.gif); }
.block-compared .block-title strong {
  background-image:url(../images/i_block-list.gif);
  background-position:0 1px;
}
.block-poll .block-title strong { background-image:url(../images/i_block-poll.gif); }
.block-poll .block-subtitle { font-size:12px; }
.block-poll label {
  color:#777777;
  font-weight:bold;
}
.block-poll input.radio {
  float:left;
  margin:1px -18px 0 0;
}
.block-poll .label {
  display:block;
  margin-left:18px;
}
.block-poll li { padding:3px 9px; }
.block-poll .actions { margin:5px 0 0; }
.block-poll button.button span {
  border-color:#406a83;
  background:#618499;
}
.block-poll .answer { font-weight:bold; }
.block-poll .votes {
  float:right;
  margin-left:10px;
}
.block-gr-search li { padding:3px 9px; }
.block-gr-search button.button span {
  border-color:#406a83;
  background:#618499;
}
.block-tags .block-title strong { background-image:url(../images/i_block-tags.gif); }
.block-tags .block-content .tags-list {
  background:none;
  border:0;
  font-size:12px;
}
.block-tags .block-content a { color:#1b2d3b; }
.block-tags .actions { text-align:right; }
.block-tags .actions a { float:none; }
.block-subscribe .block-content { padding:5px 10px; }
.block-subscribe .block-title strong { background-image:url(../images/i_block-subscribe.gif); }
.block-subscribe label {
  font-weight:bold;
  color:#666666;
}
.block-subscribe input.input-text {
  display:block;
  width:167px;
  margin:3px 0;
}
.block-subscribe .actions {
  background:none;
  padding:0;
  margin:3px 0 0;
  text-align:left;
}
.block-subscribe .actions button.button { float:none; }
.block-subscribe .actions button.button span {
  border-color:#406a83;
  background:#618499;
}
.block-reorder .block-title strong { background-image:url(../images/i_block-list.gif); }
.block-reorder input.checkbox {
  float:left;
  margin:2px -20px 0 0;
}
.block-reorder .product-name { margin-left:20px; }
.block-reorder .validation-advice { margin:3px 9px 7px; }
.block-banner { border:0; }
.block-banner .block-content {
  padding:0;
  text-align:center;
}
.block-login .block-title strong { background-image:url(../images/i_ma-info.gif); }
.block-login .block-content { padding:5px 10px; }
.block-login label {
  font-weight:bold;
  color:#666666;
}
.block-login input.input-text {
  display:block;
  width:167px;
  margin:3px 0;
}
.block-login .actions {
  background:none;
  padding:0;
  margin:3px 0 0;
}
.block-login .actions button.button span {
  border-color:#406a83;
  background:#618499;
}
.sidebar .paypal-logo {
  display:block;
  margin:10px 0;
  text-align:center;
}
.sidebar .paypal-logo a { float:none; }
.category-title {
  border:0;
  margin:0 0 7px;
}
.category-image {
  width:100%;
  overflow:hidden;
  margin:0 0 10px;
  text-align:center;
}
.category-description { margin:0 0 10px; }
.products-grid {
  border-bottom:1px solid #d9ddd3;
  background:url(../images/bkg_grid.gif) 0 0 repeat;
  position:relative;
}
.products-grid.last { border-bottom:0; }
.products-grid li.item {
  position:relative;
  width:100%;
  padding:12px 10px 10px;
  overflow:hidden;
}
.products-grid .product-image {
  display:block;
  width:100%;
  font-size:0;
}
.products-grid .product-image img {
  width:100%;
  height:auto !important;
}
.products-grid .product-name {
  margin:0;
  font-size:13px;
  color:#203548;
  display:block;
  padding:10px;
  background-color:green;
}
.products-grid .product-name a { color:#203548; }
.products-grid .price-box {
  display:block;
  width:100%;
  background-color:aliceblue;
}
.products-grid .availability { line-height:21px; }
.products-grid .actions {
  position:relative;
  overflow:hidden;
  font-size:0;
}
.products-grid .actions button { width:100%; }
.products-grid .actions button.button span {
  padding:15px 8px;
  font-size:24px;
  height:auto;
}
.col2-left-layout .products-grid, .col2-right-layout .products-grid {
  width:632px;
  margin:0 auto;
}
.col1-layout .products-grid {
  width:790px;
  margin:0 auto;
}
.products-list li.item {
  border-bottom:1px solid #d9ddd3;
  padding:12px 10px;
}
.products-list li.item.last { border-bottom:0; }
.products-list .product-image {
  float:left;
  width:135px;
  height:135px;
  margin:0 0 10px;
}
.products-list .product-shop { margin-left:150px; }
.products-list .product-name {
  margin:0 0 5px;
  font-weight:bold;
  font-size:13px;
  color:#203548;
}
.products-list .product-name a { color:#203548; }
.products-list .price-box {
  float:left;
  margin:3px 13px 5px 0;
}
.products-list .availability {
  float:left;
  margin:3px 0 0;
}
.products-list .desc {
  clear:both;
  padding:6px 0 0;
  margin:0 0 15px;
  line-height:1.35;
}
.products-list .desc .link-learn { font-size:11px; }
.products-list .add-to-links { clear:both; }
.products-list .add-to-links li { display:inline; }
.products-list .add-to-links .separator {
  display:inline;
  margin:0 2px;
}
.no-rating { margin:0; }
.ratings {
  font-size:11px;
  line-height:1.25;
  margin-top:1%;
}
.ratings .rating-links { overflow:hidden; }
.ratings .rating-links a {
  float:left;
  display:block;
  padding:30px 10px;
  text-align:center;
  text-decoration:none;
  width:49.5%;
  background-color:green;
  font-size:15px;
  color:white;
}
.ratings .rating-links a:first-child {
  margin-right:1%;
  background-color:orange;
}
.ratings .rating-links .separator { display:none; }
.products-grid .ratings { display:none; }
.ratings strong {
  float:left;
  margin:1px 3px 0 0;
}
.ratings .rating-links { margin:0; }
.ratings .rating-links .separator { margin:0 2px; }
.rating-box {
  width:69px;
  height:13px;
  font-size:0;
  line-height:0;
  background:url(../images/bkg_rating.gif) 0 0 repeat-x;
  text-indent:-999em;
  overflow:hidden;
}
.rating-box .rating {
  float:left;
  height:13px;
  background:url(../images/bkg_rating.gif) 0 100% repeat-x;
}
.ratings .rating-box {
  float:left;
  margin-right:3px;
}
.ratings-table th, .ratings-table td {
  font-size:11px;
  line-height:1.15;
  padding:3px 0;
}
.ratings-table th {
  font-weight:bold;
  padding-right:8px;
}
.availability { margin:0; }
.availability span { font-weight:bold; }
.availability.out-of-stock span { color:#d83820; }
.availability-only {
  margin:10px 0 7px;
  line-height:16px;
  background:url(../images/i_availability_only.gif) 0 50% no-repeat;
  padding-left:15px;
}
.availability-only span, .availability-only a {
  border-bottom:1px dashed #751d02;
  color:#000000;
}
.availability-only a {
  background:url(../images/i_availability_only_arrow.gif) 100% 0 no-repeat;
  cursor:pointer;
  padding-right:15px;
  text-decoration:none;
}
.availability-only .expanded { background-position:100% -15px; }
.availability-only strong { color:#be2c00; }
.availability-only-details { margin:0 0 7px; }
.availability-only-details th {
  background:#d2d6d9;
  font-size:10px;
  padding:0 8px;
}
.availability-only-details td {
  background:#ebf0f3;
  border-bottom:1px solid #ffffff;
  font-size:11px;
  padding:2px 8px 1px;
}
.availability-only-details tr.odd td.last {
  color:#d95e00;
  font-weight:bold;
}
.product-view .product-shop .availability { font-size:11px; }
.product-view .product-shop .availability span { font-weight:normal; }
.email-friend a, .no-rating a {
  display:block;
  margin:0;
  padding:30px 10px;
  color:white;
  text-align:center;
  text-decoration:none;
}
.email-friend a {
  background-color:green;
  color:white;
}
.no-rating a {
  background-color:orange;
  color:white;
}
.alert-price {
  margin:0;
  font-size:11px;
}
.alert-stock {
  margin:0;
  font-size:11px;
}
.price { white-space:nowrap !important; }
.price-box .price {
  font-weight:bold;
  color:#c76200;
}
.regular-price { color:#c76200; }
.regular-price .price {
  font-size:21px;
  color:#c76200;
}
.block .regular-price, .block .regular-price .price { color:#2f2f2f; }
.old-price { margin:0; }
.old-price .price-label {
  white-space:nowrap;
  color:#999999;
}
.old-price .price {
  font-weight:bold;
  color:#c76200;
  text-decoration:line-through;
}
.special-price {
  margin:0;
  padding:3px 0;
}
.special-price .price-label {
  font-size:13px;
  font-weight:bold;
  white-space:nowrap;
  color:#cd5033;
}
.special-price .price {
  font-size:13px;
  font-weight:bold;
  color:#c76200;
}
.minimal-price { margin:0; }
.minimal-price .price-label {
  font-weight:bold;
  white-space:nowrap;
}
.minimal-price-link { display:block; }
.minimal-price-link .label { color:#1e7ec8; }
.minimal-price-link .price {
  font-weight:normal;
  color:#1e7ec8;
}
.price-excluding-tax {
  display:block;
  color:#999999;
}
.price-excluding-tax .label {
  white-space:nowrap;
  color:#999999;
}
.price-excluding-tax .price {
  font-size:13px;
  font-weight:normal;
  color:#c76200;
}
.price-including-tax {
  display:block;
  color:#999999;
}
.price-including-tax .label {
  white-space:nowrap;
  color:#999999;
}
.price-including-tax .price {
  font-size:13px;
  font-weight:bold;
  color:#c76200;
}
.configured-price { margin:0; }
.configured-price .price-label {
  font-weight:bold;
  white-space:nowrap;
}
.configured-price .price { font-weight:bold; }
.weee {
  display:block;
  font-size:11px;
  color:#444444;
}
.weee .price {
  font-size:11px;
  font-weight:normal;
}
.price-excl-tax { display:block; }
.price-excl-tax .label {
  display:block;
  white-space:nowrap;
}
.price-excl-tax .price { display:block; }
.price-incl-tax { display:block; }
.price-incl-tax .label {
  display:block;
  white-space:nowrap;
}
.price-incl-tax .price {
  display:block;
  font-weight:bold;
}
.price-from { margin:0; }
.price-from .price-label {
  font-weight:bold;
  white-space:nowrap;
}
.price-to { margin:0; }
.price-to .price-label {
  font-weight:bold;
  white-space:nowrap;
}
.price-notice {
  padding-left:10px;
  color:#999999;
}
.price-notice .price {
  font-weight:bold;
  color:#2f2f2f;
}
.price-as-configured { margin:0; }
.price-as-configured .price-label {
  font-weight:bold;
  white-space:nowrap;
}
.price-box-bundle { padding:0 0 10px 0; }
.price-box-bundle .price-box {
  margin:0 !important;
  padding:0 !important;
}
.price-box-bundle .price { color:#555555; }
.product-pricing, .tier-prices {
  margin:10px 0;
  padding:10px;
  background-color:#f4f7f7;
  border:1px solid #dadddd;
  color:#424242;
}
.tier-prices li {
  line-height:1.4;
  background:url(../images/i_tier.gif) no-repeat 0 3px;
  padding:2px 0 2px 10px;
}
.tier-prices .benefit {
  font-style:italic;
  font-weight:bold;
  color:#2f2f2f;
}
.tier-prices .price {
  font-weight:bold;
  color:#2f2f2f;
}
.tier-prices-grouped li {
  padding:2px 0;
  color:#e26703;
}
.tier-prices-grouped li .price { font-weight:bold; }
.add-to-links {
  float:right;
  font-size:11px;
  overflow:hidden;
  width:100%;
}
.add-to-links li {
  float:left;
  width:49.5%;
  text-align:center;
  margin-right:1%;
}
.add-to-links li:last-child { margin-right:0; }
.add-to-links li a {
  padding:18px;
  display:block;
}
.add-to-links .separator { display:none; }
.add-to-cart label {
  float:left;
  margin-right:5px;
  font-weight:bold;
  color:#666666;
}
.add-to-cart .qty {
  float:none;
  margin:0;
}
.add-to-cart button.button {
  float:none;
  width:100%;
}
.add-to-cart button.button span {
  height:auto;
  border:0;
  font-family:'equipThin';
  font-size:18px;
  padding:18px;
  text-transform:uppercase;
}
.add-to-cart .paypal-logo {
  clear:left;
  margin:0;
  text-align:right;
}
.add-to-cart .paypal-logo .paypal-or {
  clear:both;
  display:block;
  margin:5px 60px 5px 0;
}
.product-view .add-to-cart .paypal-logo { margin:0; }
.add-to-box { margin:0; }
.add-to-box .add-to-cart {
  float:none;
  width:100%;
  text-align:center;
}
.add-to-box .add-to-cart .qty-wrapper {
  padding:10px;
  background-color:#cccccc;
}
.add-to-box .or {
  float:left;
  font-weight:bold;
  margin:0 7px;
  color:#666666;
}
.add-to-box .add-to-links {
  float:left;
  margin:0;
  font-size:19px !important;
  line-height:1.25 !important;
  text-align:left !important;
}
.add-to-box .add-to-links li { display:block !important; }
.add-to-box .add-to-links li .separator { display:none !important; }
.product-view { border:none; }
.product-essential {
  padding:0px;
  background:#ffffff url(../images/bkg_product-view.gif) 100% 0 no-repeat;
}
.product-essential * {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
}
.product-essential h2 { font:bold 13px / 1.35 Arial, Helvetica, sans-serif; }
.product-collateral {
  background:#faf7ee url(../images/bkg_product_collateral.gif) 0 0 repeat-x;
  padding:25px;
}
.product-collateral h2 {
  font-weight:bold;
  font-size:15px;
  color:#e26703;
  border-bottom:1px solid #e5dcc3;
  padding:0 0 1px;
  margin:0 0 15px;
}
.product-collateral .box-collateral { margin:0 0 25px; }
.product-view .product-img-box {
  float:none;
  width:100%;
}
.col3-layout .product-view .product-img-box {
  float:left;
  margin:0 auto;
}
.product-view .product-img-box .product-image {
  margin:0;
  font-size:0;
}
.product-view .product-img-box .product-image img { width:100%; }
.product-view .product-img-box .product-image-zoom {
  position:relative;
  width:265px;
  height:265px;
  overflow:hidden;
  z-index:9;
}
.product-view .product-img-box .product-image-zoom img {
  position:absolute;
  left:0;
  top:0;
  cursor:move;
}
.product-view .product-img-box .zoom-notice {
  font-size:11px;
  margin:0 0 5px;
  text-align:center;
}
.product-view .product-img-box .zoom {
  position:relative;
  z-index:9;
  height:18px;
  margin:0 auto 13px;
  padding:0 28px;
  background:url(../images/slider_bg.gif) 50% 50% no-repeat;
  cursor:pointer;
}
.product-view .product-img-box .zoom.disabled {
  -moz-opacity:.3;
  -webkit-opacity:.3;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  opacity:.3;
}
.product-view .product-img-box .zoom #track {
  position:relative;
  height:18px;
}
.product-view .product-img-box .zoom #handle {
  position:absolute;
  left:0;
  top:-1px;
  width:9px;
  height:22px;
  background:url(../images/magnifier_handle.gif) 0 0 no-repeat;
}
.product-view .product-img-box .zoom .btn-zoom-out {
  position:absolute;
  left:2px;
  top:0;
}
.product-view .product-img-box .zoom .btn-zoom-in {
  position:absolute;
  right:2px;
  top:0;
}
.product-view .product-img-box .more-views h2 {
  font-size:11px;
  border-bottom:1px solid #cccccc;
  margin:0 0 8px;
  text-transform:uppercase;
}
.product-view .product-img-box .more-views ul { margin-left:-9px; }
.product-view .product-img-box .more-views li {
  float:left;
  margin:0 0 8px 9px;
}
.product-view .product-img-box .more-views li a {
  float:left;
  width:56px;
  height:56px;
  border:2px solid #dddddd;
  overflow:hidden;
}
.product-image-popup { margin:0 auto; }
.product-image-popup .buttons-set {
  float:right;
  clear:none;
  border:0;
  margin:0;
  padding:0;
}
.product-image-popup .nav {
  font-weight:bold;
  margin:0 100px;
  text-align:center;
}
.product-image-popup .image {
  display:block;
  margin:10px 0;
}
.product-image-popup .image-label {
  font-size:13px;
  font-weight:bold;
  margin:0 0 10px;
  color:#2f2f2f;
}
.product-view .product-shop {
  float:right;
  width:100%;
}
.col1-layout .product-view .product-shop {
  float:right;
  width:545px;
}
.col3-layout .product-view .product-shop {
  float:none;
  width:auto;
}
.product-view .product-essential .product-name {
  margin:0;
  padding:18px;
  background-color:green;
  color:white;
}
.product-view .product-essential .product-name h1 {
  margin:0;
  font:normal 22.222222222222px 'equipThin';
}
.product-view .product-shop .availability {
  margin:0;
  padding:18px;
  background-color:yellow;
}
.product-view .product-shop .short-description {
  display:none;
  margin:10px 0;
  background:url(../images/bkg_divider1.gif) 0 0 repeat-x;
  padding:10px 0 0;
}
.product-view .product-shop .price-box { padding:10px; }
.product-view .product-shop .add-to-cart label { display:none; }
.add-to-cart input {
  font-family:'equipThin';
  font-size:30px;
  padding:4px;
  border-radius:4px;
  text-align:center;
}
.product-view .product-shop .add-to-links { margin:1% 0 0 0; }
.product-view .product-shop .add-to-links {
  font-size:12px;
  text-align:right;
}
.product-view .product-shop .add-to-links li, .product-view .product-shop .add-to-links li .separator { display:inline; }
.product-view .product-shop .add-to-links li { margin-right:1%; }
.product-view .product-shop .add-to-links li:last-child { margin-right:0; }
.product-view .product-shop .nobr {
  background:none repeat scroll 0 0 #cccccc;
  color:#ffffff;
  display:block;
  margin-top:1%;
  text-align:center;
  width:100%;
}
.product-view .product-shop .nobr:after {
  width:0;
  height:0;
  border-left:20px solid transparent;
  border-right:20px solid transparent;
  border-top:20px solid #ff0000;
}
.product-options {
  margin:20px 0 0;
  padding:10px 15px 20px;
  position:relative;
  background-color:#f6f6f6;
  border:1px solid #e4e4e4;
}
.product-options dt {
  padding:10px 0 0;
  font-weight:normal;
}
.product-options dt label {
  font-weight:bold;
  color:#2f2f2f;
}
.product-options dt label.required em {
  color:#eb340a;
  margin-left:5px;
}
.product-options dd .qty-holder {
  display:block;
  padding:10px 0 0;
}
.product-options dd .qty-holder label { vertical-align:middle; }
.product-options dt .qty-disabled {
  background:none;
  border:0;
  padding:3px;
  color:#2f2f2f;
}
.product-options dd {
  padding:5px 10px 15px;
  margin:0 0 5px;
  border-bottom:1px solid #e4e4e4;
}
.product-options dl.last dd.last {
  border-bottom:0;
  padding-bottom:5px;
  margin-bottom:0;
}
.product-options dd input.input-text { width:98%; }
.product-options dd input.datetime-picker { width:150px; }
.product-options dd .time-picker {
  display:-moz-inline-box;
  display:inline-block;
  padding:2px 0;
  vertical-align:middle;
}
.product-options dd textarea {
  width:98%;
  height:8em;
}
.product-options dd select { width:99%; }
.product-options dd .multiselect option {
  border-bottom:1px dotted #d9e5ee;
  padding:2px 4px;
}
.product-options ul.options-list { margin-right:5px; }
.product-options ul.options-list li {
  line-height:1.5;
  padding:2px 0;
}
.product-options ul.options-list input.radio {
  float:left;
  margin-top:3px;
}
.product-options ul.options-list input.checkbox {
  float:left;
  margin-top:3px;
}
.product-options ul.options-list .label {
  display:block;
  margin-left:18px;
}
.product-options ul.options-list label { font-weight:normal; }
.product-options ul.validation-failed { padding:0 7px; }
.product-options p.note {
  margin:0;
  font-size:11px;
}
.product-options p.required {
  position:absolute;
  right:20px;
  top:20px;
}
.product-options-bottom {
  background-color:#fffada;
  padding:15px 20px;
  border:1px solid #e4e4e4;
  border-top:0;
}
.product-options-bottom .product-pricing, .product-options-bottom .tier-prices {
  margin:0;
  padding:0 0 10px;
  border:0;
  background:0;
  color:#e26703;
}
.product-options-bottom .tier-prices li {
  background:0;
  padding:2px 0;
}
.product-options-bottom .tier-prices .price, .product-options-bottom .tier-prices .benefit { color:#e26703; }
.product-options-bottom .price-box {
  float:left;
  margin:0;
  padding:0;
}
.product-options-bottom .add-to-links {
  clear:both;
  padding:5px 0 0;
  text-align:right;
}
.col3-layout .product-options-bottom .price-box {
  float:none;
  padding:0 0 5px;
}
.product-options-bottom .price-label {
  float:left;
  padding-right:5px;
}
.product-options-bottom .price-tax { float:left; }
.product-options-bottom .add-to-cart {
  float:none;
  width:100%;
}
.product-shop .product-options-bottom { margin:0 0 10px; }
.product-shop .product-options-bottom .price-box {
  float:none;
  margin:0 0 5px;
}
.product-shop .product-options-bottom .price-label {
  float:none;
  padding-right:0;
}
.product-shop .product-options-bottom .price-tax { float:none; }
.product-shop .product-options-bottom .add-to-cart-box {
  clear:both;
  float:left;
  padding-top:12px;
}
.product-shop .product-options-bottom .add-to-links {
  clear:both;
  padding:5px 0 0;
  text-align:right;
}
.product-view .grouped-items-table .price-box {
  margin:0;
  padding:0;
}
.product-view .box-additional .data-table th, .product-view .box-additional .data-table td { line-height:1.25; }
.product-view .box-up-sell h2 {
  border-bottom:0;
  padding:0;
  margin:0 0 8px;
}
.product-view .box-up-sell .products-grid {
  width:100%;
  border:1px solid #e5dcc3;
}
.product-view .box-up-sell .products-grid td {
  width:25%;
  background:#f6f2e7;
  border-right:1px solid #e5dcc3;
  border-bottom:1px solid #e5dcc3;
  padding:15px 10px 12px;
  line-height:1.6em;
}
.product-view .box-up-sell .products-grid tr.last td { border-bottom:0; }
.product-view .box-up-sell .products-grid td.last { border-right:0; }
.product-view .box-up-sell .products-grid td img { border:1px solid #e5dcc3; }
.product-view .box-up-sell .products-grid .product-image { text-align:center; }
.product-view .box-up-sell .products-grid td.empty {
  border-right:0;
  background:#f1ecdb;
}
.product-view .box-up-sell .products-grid .ratings .rating-box {
  float:none;
  display:block;
  margin:0 0 3px;
}
.product-view .box-tags { margin:0; }
.product-view .box-tags h3 { font-size:13px; }
.product-view .box-tags .product-tags {
  display:block;
  margin:0 0 15px;
}
.product-view .box-tags .product-tags li {
  display:inline;
  background:url(../images/bkg_pipe3.gif) 100% 4px no-repeat;
  padding:0 7px 0 4px;
}
.product-view .box-tags .product-tags li.first { padding-left:0; }
.product-view .box-tags .product-tags li.last {
  background:none;
  padding-right:0;
}
.product-view .box-tags .form-add label {
  display:block;
  font-size:13px;
  font-weight:bold;
  margin:0 0 5px;
  color:#0a263c;
}
.product-view .box-tags .form-add .input-box {
  float:none;
  width:100%;
  margin:0 0 5px 0;
  background:url(../images/i_tag_add.gif) 0 2px no-repeat;
  padding:0;
}
.product-view .box-tags .form-add input.input-text {
  width:100%;
  font-size:25px;
}
.product-view .box-tags .form-add button.button span {
  border-color:#406a83;
  background:#618499;
}
.product-view .box-tags .note {
  margin:3px 0 0;
  padding:0 0 0 23px;
  font-size:11px;
}
.product-view .box-reviews dl { margin:15px 0; }
.product-view .box-reviews dt a, .product-view .box-reviews dt span { font-weight:bold; }
.product-view .box-reviews dd { margin:0 0 15px; }
.product-view .box-reviews dd small { font-style:italic; }
.product-view .box-reviews .form-add { margin:15px 0 0; }
.product-view .box-reviews .form-add fieldset { border:0; }
.product-view .box-reviews .form-add h3 {
  font-size:13px;
  font-weight:normal;
}
.product-view .box-reviews .form-add h3 span { font-weight:bold; }
.product-view .box-reviews .form-add h4 { font-size:12px; }
.product-view .box-reviews .form-add .data-table td { text-align:center; }
.product-view .box-reviews .form-add .form-list { margin:15px 0 0; }
.product-view .box-reviews .form-add .form-list .input-box { width:100%; }
.product-view .box-reviews .form-add .form-list input.input-text, .product-view .box-reviews .form-add .form-list textarea { width:100%; }
.send-friend .form-list {
  width:615px;
  overflow:hidden;
}
.send-friend .form-list li { margin-right:-15px; }
.send-friend .form-list li p { margin:0 15px 0 0; }
.send-friend .form-list .field { width:315px; }
.send-friend .form-list .input-box { width:300px; }
.send-friend .form-list input.input-text, .send-friend .form-list textarea { width:294px; }
.send-friend .form-list li.wide .input-box { width:612px; }
.send-friend .form-list li.wide textarea { width:609px; }
.send-friend .buttons-set .limit {
  float:right;
  margin:0 7px 0 0;
  font-size:11px;
  line-height:21px;
}
.product-name {
  margin:0;
  font-size:1em;
  font-weight:normal;
}
.product-name a { color:#1e7ec8; }
.tags-list {
  display:block;
  font-size:13px;
  border:1px solid #c1c4bc;
  background:#f8f7f5;
  padding:10px;
}
.tags-list li {
  display:inline !important;
  margin:0 4px 0 0;
}
.tags-list li a { color:#1b2d3b; }
.advanced-search .form-list label {
  width:160px;
  padding-right:10px;
}
.advanced-search .form-list .input-box, .advanced-search .form-list .input-range {
  float:left;
  clear:none;
}
.advanced-search-amount { margin:0 0 10px; }
.advanced-search-summary {
  margin:10px 0;
  border:1px solid #e9d7c9;
  background:#fff6f1;
  padding:10px;
}
.advanced-search-summary ul {
  float:left;
  width:49%;
}
.advanced-search-summary strong {
  color:#e17c24;
  padding-left:15px;
  background:url(../images/i_search_criteria.gif) 0 3px no-repeat;
}
.advanced-search-summary p {
  clear:both;
  font-weight:bold;
  margin:0;
}
.page-sitemap .links {
  text-align:right;
  margin:0 8px -22px 0;
}
.page-sitemap .links a {
  text-decoration:none;
  position:relative;
}
.page-sitemap .links a:hover { text-decoration:underline; }
.page-sitemap .sitemap { margin:12px; }
.page-sitemap .sitemap a { color:#1b2d3b; }
.page-sitemap .sitemap li { margin:3px 0; }
.page-sitemap .sitemap li.level-0 {
  margin:10px 0 0;
  font-weight:bold;
}
.page-sitemap .sitemap li.level-0 a { color:#1e7ec8; }
.rss-title h1 {
  background:url(../images/i_rss-big.png) 0 4px no-repeat;
  padding-left:27px;
}
.rss-table .link-rss {
  display:block;
  line-height:1.55;
  background-position:0 4px;
}
.cart .page-title {
  border-bottom:0;
  margin:0 0 12px;
}
.cart .page-title h1 { margin:10px 0 0; }
.cart .page-title .checkout-types li { margin:0 0 5px; }
.cart .title-buttons .checkout-types { float:right; }
.cart .title-buttons .checkout-types li {
  float:left;
  margin:0 0 5px 5px;
}
.cart .checkout-types .paypal-or {
  margin:0 8px;
  line-height:2.3;
}
.cart .totals .checkout-types .paypal-or {
  clear:both;
  display:block;
  padding:8px 55px 0 0;
  line-height:1.0;
  font-size:11px;
}
.cart-table th { padding:2px 10px; }
.cart-table td { padding:10px; }
.cart-table .product-name {
  font-weight:bold;
  margin:0 0 5px;
  color:#2f2f2f;
}
.cart-table .item-msg {
  margin:5px 0;
  font-size:11px;
  font-weight:bold;
  color:#df280a;
}
.cart-table tfoot td { padding:5px 10px; }
.cart-table .btn-continue { float:left; }
.cart-table .btn-empty span, .cart-table .btn-continue span, .cart-table .btn-update span {
  border-color:#406a83;
  background:#618499;
}
.cart-table .btn-update, .cart-table .btn-empty { float:right; }
.cart-table .btn-update { margin-left:10px; }
.cart .cart-collaterals { padding:25px 0 0; }
.cart .cart-collaterals .col2-set {
  float:left;
  width:605px;
}
.cart .cart-collaterals .col2-set .col-2 { width:294px; }
.cart .crosssell {
  border:1px solid #cec3b6;
  background:#fafaec;
  padding:12px 15px;
}
.cart .crosssell h2 {
  font-size:13px;
  font-weight:bold;
}
.cart .crosssell .product-image {
  float:left;
  width:75px;
  height:75px;
  border:1px solid #d0cdc9;
}
.cart .crosssell .product-details { margin-left:90px; }
.cart .crosssell .product-name { font-weight:bold; }
.cart .crosssell li.item { margin:12px 0; }
.cart .crosssell .link-compare { font-weight:normal; }
.cart .discount, .cart .shipping {
  border:1px solid #d0cbc1;
  background:#ffffff url(../images/bkg_block-title.gif) 0 0 repeat-x;
  padding:12px 15px;
  margin:0 0 18px;
}
.cart .discount h2, .cart .shipping h2 {
  background-position:0 0;
  background-repeat:no-repeat;
  font:bold 13px / 16px Arial, Helvetica, sans-serif;
  padding:0 0 0 21px;
  color:#e26703;
  text-transform:uppercase;
}
.cart .discount button span, .cart .shipping button span {
  border-color:#406a83;
  background:#618499;
}
.cart .discount .buttons-set, .cart .shipping .buttons-set {
  margin:10px 0 0;
  border:0;
  padding:0;
  text-align:left;
}
.cart .discount .buttons-set button.button, .cart .shipping .buttons-set button.button {
  float:none;
  margin-left:0;
}
.cart .discount h2 { background-image:url(../images/i_discount.gif); }
.cart .discount .input-box {
  margin:8px 0 0;
  width:260px;
}
.cart .discount input.input-text { width:254px; }
.cart .shipping h2 { background-image:url(../images/i_shipping.gif); }
.cart .shipping .sp-methods {
  margin:10px 0 0;
  padding:5px 0 0;
  background:url(../images/bkg_divider1.gif) 0 0 repeat-x;
}
.cart .totals {
  float:right;
  width:268px;
  background:#dee5e8;
  border:1px solid #bebcb7;
}
.cart .totals table {
  width:100%;
  margin:7px 0;
}
.cart .totals td { padding:1px 15px 1px 7px; }
.cart .totals tfoot th { padding:5px 15px 5px 7px; }
.cart .totals tfoot td {
  padding-top:5px;
  padding-bottom:5px;
}
.cart .totals tfoot th strong, .cart .totals tfoot td strong { font-size:15px; }
.cart .totals .checkout-types {
  font-size:13px;
  padding:8px 15px 15px;
  text-align:right;
}
.cart .totals .checkout-types li {
  clear:both;
  margin:10px 0;
}
.item-options dt {
  font-weight:bold;
  font-style:italic;
}
.item-options dd {
  padding-left:10px;
  margin:0 0 6px;
}
.truncated { cursor:help; }
.truncated a.dots { cursor:help; }
.truncated a.details { cursor:help; }
.truncated .truncated_full_value {
  position:relative;
  z-index:999;
}
.truncated .truncated_full_value .item-options {
  position:absolute;
  top:-99999em;
  left:-99999em;
  z-index:999;
  width:250px;
  padding:8px;
  border:1px solid #dddddd;
  background-color:#f6f6f6;
}
.truncated .truncated_full_value .item-options > p {
  font-weight:bold;
  text-transform:uppercase;
}
.truncated .show .item-options {
  top:-20px;
  left:50%;
}
.col-left .truncated .show .item-options {
  left:15px;
  top:7px;
}
.col-right .truncated .show .item-options {
  left:-240px;
  top:7px;
}
.sp-methods { margin:0 0 8px; }
.sp-methods dt {
  margin:13px 0 5px;
  font-weight:bold;
}
.sp-methods dd li { margin:5px 0; }
.sp-methods label {
  font-weight:bold;
  color:#666666;
}
.sp-methods .price { font-weight:bold; }
.sp-methods .form-list { padding-left:20px; }
.sp-methods .form-list li { margin:0 0 8px; }
.sp-methods select.month {
  width:154px;
  margin-right:10px;
}
.sp-methods select.year { width:96px; }
.sp-methods input.cvv { width:3em !important; }
.sp-methods .checkmo-list li { margin:0 0 5px; }
.sp-methods .checkmo-list label {
  width:135px;
  padding-right:10px;
  text-align:right;
}
.sp-methods .checkmo-list address { float:left; }
.sp-methods .centinel-logos a { margin-right:3px; }
.sp-methods .centinel-logos img { vertical-align:middle; }
.sp-methods .release-amounts { margin:0.5em 0; }
.sp-methods .release-amounts button {
  float:left;
  margin:5px 10px 0 0;
}
.please-wait { float:right; }
.please-wait img { vertical-align:middle; }
.cvv-what-is-this {
  font-size:11px;
  cursor:help;
  margin-left:10px;
}
.tool-tip {
  border:1px solid #7ba7c9;
  background:#eaf6ff;
  padding:15px 20px;
  position:absolute;
  z-index:9999;
}
.tool-tip .btn-close {
  margin:-9px -14px 0;
  text-align:right;
}
.tool-tip .btn-close a {
  display:block;
  margin:0 0 0 auto;
  width:15px;
  height:15px;
  background:url(../images/btn_window_close.gif) 100% 0 no-repeat;
  text-align:left;
  text-indent:-999em;
  overflow:hidden;
}
.tool-tip .tool-tip-content { padding:5px; }
.gift-messages h3 {
  font-size:12px;
  font-weight:bold;
  color:#e87403;
}
.gift-messages p.control { color:#8e8d8b; }
.gift-messages-form { position:relative; }
.gift-messages-form label {
  float:none !important;
  position:static !important;
}
.gift-messages-form h4 {
  font-size:12px;
  font-weight:bold;
  color:#e87403;
}
.gift-messages-form .whole-order { margin:0 0 25px; }
.gift-messages-form .item { margin:0 0 10px; }
.gift-messages-form .item .product-img-box {
  float:left;
  width:75px;
}
.gift-messages-form .item .product-image { margin:0 0 7px; }
.gift-messages-form .item .number {
  margin:0;
  font-weight:bold;
  text-align:center;
  color:#8a8987;
}
.gift-messages-form .item .details { margin-left:90px; }
.gift-messages-form .item .details .product-name {
  font-size:13px;
  font-weight:bold;
  margin:0 0 10px;
}
.gift-messages-form .item .details .form-list .field { width:255px; }
.gift-messages-form .item .details .form-list .input-box { width:240px; }
.gift-messages-form .item .details .form-list input.input-text { width:234px; }
.gift-messages-form .item .details .form-list li.wide .input-box { width:500px; }
.gift-messages-form .item .details .form-list li.wide textarea { width:494px; }
.gift-message-link {
  font-size:11px;
  background:url(../images/bkg_collapse-gm.gif) 100% 6px no-repeat;
  padding-right:7px;
}
.gift-message-link.expanded { background-position:100% -40px; }
.gift-message-row { background:#f2efe9; }
.gift-message-row .btn-close {
  float:right;
  width:16px;
  height:16px;
  background:url(../images/btn_gm-close.gif) 0 0 no-repeat;
  font-size:0;
  line-height:0;
  text-indent:-999em;
  overflow:hidden;
}
.checkout-agreements li { margin:30px 0; }
.checkout-agreements .agreement-content {
  overflow:auto;
  height:12em;
  padding:10px;
  background-color:#fbfaf6;
  border:1px solid #bbb6a5;
}
.checkout-agreements .agree {
  margin:0;
  padding:10px 0 10px 11px;
}
.checkout-agreements .agree input.checkbox { margin-right:6px; }
.checkout-agreements .agree label {
  font-weight:bold;
  color:#666666;
}
.opc .checkout-agreements {
  border:1px solid #d9dde3;
  border-width:0 1px;
  padding:5px 30px;
}
.opc .checkout-agreements li { margin:20px 0 0; }
.opc .checkout-agreements .agreement-content {
  background-color:#ffffff;
  border-color:#e4e4e4;
  padding:5px;
}
.opc .checkout-agreements .agree { padding-left:6px; }
.centinel .authentication {
  border:1px solid #dddddd;
  background:#ffffff;
}
.centinel .authentication iframe {
  width:99%;
  height:400px;
  background:transparent !important;
  margin:0 !important;
  padding:0 !important;
  border:0 !important;
}
.opc .centinel {
  border:1px solid #bbb6a5;
  border-width:0 1px 1px;
  padding:10px 30px;
}
.info-set {
  background:#fbfaf6 url(../images/bkg_checkout.gif) 0 0 repeat-x;
  border:1px solid #bbb6a5;
  margin:0 0 25px;
  padding:20px;
}
.info-set h2 {
  font-size:13px;
  font-weight:bold;
  margin:0 0 10px;
}
.info-set h3, .info-set h4 {
  font-size:13px;
  font-weight:bold;
  color:#e26703;
}
.info-set h2 a, .info-set h3 a, .info-set h4 a { font-weight:normal; }
.info-set h2.legend {
  margin:-20px -20px 15px;
  padding:5px 10px;
  background:#f9f3e3;
  border-bottom:1px solid #bbafa0;
  position:relative;
}
.info-set h3.legend {
  margin:0 0 10px;
  color:#0a263c;
}
.info-set .divider {
  margin:0 -20px;
  padding:25px 0;
  position:relative;
}
.info-set .box { margin:0 0 15px; }
.info-set .box h2 { color:#e26703; }
.info-set .data-table .product-name {
  font-size:1em !important;
  font-weight:bold !important;
  color:#1e7ec8 !important;
}
.info-set .data-table .product-name a { font-weight:bold !important; }
.info-set .data-table .item-options { margin:5px 0 0; }
.block-progress {
  border:0;
  margin:0;
}
.block-progress .block-title {
  background:none;
  border:0;
  padding:0;
  margin:0 0 5px;
}
.block-progress .block-title strong {
  font-size:13px;
  color:#0a263c;
}
.block-progress .block-content { background:none; }
.block-progress dt {
  font-size:13px;
  font-weight:bold;
  line-height:1.35;
  background:#eeeeee;
  border:1px solid #a3aeb3;
  margin:0 0 6px;
  padding:2px 8px;
  color:#999999;
}
.block-progress dd {
  background:#eeeeee;
  border:1px solid #a3aeb3;
  border-top:0;
  padding:8px 13px;
  margin:0 0 6px;
}
.block-progress dt.complete {
  margin:0;
  background:#d0dce1;
  color:#5e8ab4;
}
.block-progress p { margin:0; }
.block-progress .cards-list dt {
  background:none;
  border:0 none;
  color:inherit;
  font-size:12px;
  margin:5px 0;
  padding:0;
}
.block-progress .cards-list dd {
  border:0 none;
  margin:0;
  padding:0;
}
.block-progress .cards-list .info-table th { font-weight:normal; }
.opc-block-progress dt.complete a, .opc-block-progress dt.complete .separator { display:inline; }
.opc-block-progress dt a, .opc-block-progress dt .separator { display:none; }
.opc .buttons-set {
  margin-top:0;
  padding-top:2em;
}
.opc .buttons-set p.required {
  margin:0;
  padding:0 0 10px;
}
.opc .buttons-set .back-link small { display:none; }
.opc .buttons-set .back-link a {
  background:url(../images/i_arrow-top.gif) 0 50% no-repeat;
  padding-left:16px;
}
.opc .buttons-set.disabled button.button { display:none; }
.opc .buttons-set .please-wait {
  height:21px;
  line-height:21px;
}
.opc .ul {
  list-style:disc outside;
  padding-left:18px;
}
.opc { position:relative; }
.opc .step-title {
  border-width:0 1px;
  border-style:solid;
  border-color:#ffffff #d9dde3 #d9dde3;
  background:#eeeeee url(../images/bkg_opc-title-off.gif) 0 100% repeat-x;
  padding:4px 8px 6px;
  text-align:right;
}
.opc .step-title .number {
  float:left;
  background:#ffffff;
  border:1px solid #ffffff;
  padding:0 4px;
  margin:0 5px 0 0;
  font:bold 11px / 14px arial, helvetica, sans-serif;
  color:#999999;
}
.opc .step-title h2 {
  float:left;
  margin:0;
  font:bold 13px / 16px Arial, Helvetica, sans-serif;
  color:#999999;
}
.opc .step-title a {
  display:none;
  float:right;
  font-size:11px;
  line-height:16px;
}
.opc .allow .step-title {
  background:#d0dce1;
  border:1px solid #a3aeb3;
  border-bottom:0;
  color:#a4b3b9;
  cursor:pointer;
}
.opc .allow .step-title .number {
  background:#dbe6eb;
  border-color:#dbe6eb;
  color:#a4b3b9;
}
.opc .allow .step-title h2 { color:#a4b3b9; }
.opc .active .step-title {
  background:#f9f3e3;
  border:1px solid #bbafa0;
  padding-bottom:5px;
  color:#f18200;
  cursor:default;
}
.opc .active .step-title .number {
  background:#f18200;
  border-color:#f19900;
  color:#ffffff;
}
.opc .active .step-title h2 { color:#f18200; }
.opc .step {
  border:1px solid #bbafa0;
  border-top:0;
  background:#fbfaf6 url(../images/bkg_checkout.gif) 0 0 repeat-x;
  padding:15px 30px;
  position:relative;
}
.opc .step .tool-tip { right:30px; }
#opc-login .buttons-set { border-top:0; }
#opc-login h3 {
  font-size:13px;
  border-bottom:1px solid #e4e4e4;
  padding-bottom:2px;
  text-transform:uppercase;
}
#opc-login h4 {
  font-size:1em;
  font-weight:bold;
  margin:0;
  color:#2f2f2f;
}
#opc-shipping_method .buttons-set { border-top:0; }
.opc .gift-messages-form {
  margin:0 -30px;
  background:#f6f1eb;
  border:1px solid #e9e4de;
  border-width:1px 0;
  padding:22px 24px 22px 30px;
}
.opc .gift-messages-form .inner-box {
  padding:5px;
  height:260px;
  overflow:auto;
}
#opc-review .step {
  border:0;
  padding:0;
}
#opc-review .product-name {
  font-weight:bold;
  color:#0a263c;
}
#opc-review .item-options { margin:5px 0 0; }
#opc-review .buttons-set {
  padding:20px 30px;
  border:1px solid #d9dde3;
  border-width:0 1px 1px;
}
#opc-review .buttons-set p {
  margin:0;
  line-height:40px;
}
#opc-review .buttons-set .please-wait {
  height:40px;
  line-height:40px;
}
#opc-review .authentication {
  margin:0 auto;
  width:570px;
}
#opc-review .warning-message {
  color:#222222;
  font-weight:bold;
  text-align:center;
  padding:10px 10px 0;
}
.checkout-progress {
  padding:0 90px;
  margin:0 0 20px;
}
.checkout-progress li {
  float:left;
  width:19%;
  margin:0 3px 0 0;
  border-top:10px solid #999999;
  padding:2px 0 0;
  font-weight:bold;
  text-align:center;
  color:#abb5ba;
}
.checkout-progress li.active {
  border-top-color:#e96200;
  color:#e96200;
}
.multiple-checkout h2 {
  font-size:13px;
  font-weight:bold;
  margin:0 0 10px;
}
.multiple-checkout h3, .multiple-checkout h4 {
  font-size:13px;
  font-weight:bold;
  color:#e26703;
}
.multiple-checkout h2 a, .multiple-checkout h3 a, .multiple-checkout h4 a { font-weight:normal; }
.multiple-checkout .data-table .product-name {
  font-size:1em !important;
  font-weight:bold !important;
  color:#1e7ec8 !important;
}
.multiple-checkout .data-table .product-name a { font-weight:bold !important; }
.multiple-checkout .data-table .item-options { margin:5px 0 0; }
.multiple-checkout .gift-messages { margin:15px 0 0; }
.multiple-checkout .tool-tip {
  top:50%;
  margin-top:-120px;
  right:20px;
}
.multiple-checkout .col2-set, .multiple-checkout .col3-set {
  background:#fbfaf6 url(../images/bkg_checkout.gif) 0 0 repeat-x;
  border:1px solid #bbb6a5;
  margin:0 0 25px;
  padding:20px;
}
.multiple-checkout .col2-set h2.legend {
  margin:-20px -20px 15px;
  padding:5px 10px;
  background:#f9f3e3;
  border-bottom:1px solid #bbafa0;
  position:relative;
}
.multiple-checkout .col2-set h3.legend {
  margin:0 0 10px;
  color:#0a263c;
}
.multiple-checkout .col2-set .divider {
  margin:0 -20px;
  padding:25px 0;
  position:relative;
}
.multiple-checkout .box { margin:0 0 15px; }
.multiple-checkout .box h2 { color:#e26703; }
.multiple-checkout .place-order .please-wait {
  float:right;
  padding:27px 7px 0 0;
}
.multiple-checkout .place-order .grand-total {
  float:right;
  height:71px;
  font-size:1.5em;
  padding:0 0 0 21px;
  background:url(../images/bkg_grand-total.gif) 0 0 no-repeat;
  overflow:hidden;
}
.multiple-checkout .place-order .grand-total .inner {
  float:left;
  height:57px;
  padding:14px 21px 0 0;
  background:url(../images/bkg_grand-total.gif) 100% 0 no-repeat;
}
.multiple-checkout .place-order .grand-total .inner div { display:inline; }
.multiple-checkout .place-order .grand-total big {
  display:inline;
  margin-right:12px;
}
.multiple-checkout .place-order .grand-total .price { color:#e26703; }
.multiple-checkout .place-order .grand-total button.button span { font-size:16px; }
.multiple-checkout .place-order .grand-total button.button span span { padding:0 45px 0 36px; }
.multiple-checkout .title-buttons button.button span {
  border-color:#406a83;
  background:#618499;
}
#multiship-addresses-table td { padding:10px; }
#multiship-addresses-table tfoot td { padding:5px 10px; }
#multiship-addresses-table tfoot button.button span {
  border-color:#406a83;
  background:#618499;
}
.multiple-checkout .gift-messages-form .item .details .form-list {
  width:100%;
  overflow:hidden;
}
.multiple-checkout .gift-messages-form .item .details .form-list li { margin-right:-15px; }
.multiple-checkout .gift-messages-form .item .details .form-list .field { width:230px; }
.multiple-checkout .gift-messages-form .item .details .form-list .input-box { width:215px; }
.multiple-checkout .gift-messages-form .item .details .form-list input.input-text { width:209px; }
.multiple-checkout .gift-messages-form .item .details .form-list li.wide .input-box { width:445px; }
.multiple-checkout .gift-messages-form .item .details .form-list li.wide textarea { width:439px; }
.checkout-multishipping-shipping .box-sp-methods {
  border:1px solid #d9d2be;
  background:#f9f3e3;
  padding:13px;
  position:relative;
}
.checkout-multishipping-shipping .box-sp-methods .pointer {
  position:absolute;
  top:-20px;
  right:-40px;
  width:178px;
  height:41px;
  background:url(../images/bkg_sp-methods.gif) 0 0 no-repeat;
  overflow:hidden;
}
.checkout-multishipping-billing .multiple-checkout { position:relative; }
.account-login .content {
  padding:14px 21px;
  background:#faf7ee url(../images/bkg_login-box.gif) 0 0 repeat-x;
  border:1px solid #bbb6a5;
  border-bottom:0;
}
.account-login .content input {
  font-size:24px;
  width:100%;
  padding:8px;
}
.account-login button.button, .account-create button.button {
  float:none;
  margin-top:1%;
  width:70%;
}
.account-login .col-1 button.button { width:100%; }
.account-login button.button span {
  height:auto;
  font-size:20px;
  padding:10px 8px;
}
.account-login .content h2 {
  font:normal 18px 'equipThin';
  color:#4f1c1f;
  background:transparent;
  margin:0 0 14px;
  padding:0 0 10px 0;
  border-bottom:1px solid #4f1c1f;
  text-transform:uppercase;
}
.account-login .buttons-set {
  border:1px solid #bbb6a5;
  border-top:0;
  margin:0;
  padding:8px 13px;
  background:#dee5e8 url(../images/bkg_buttons-set1.gif) 0 0 repeat-x;
  text-align:center;
}
.captcha-note {
  clear:left;
  padding-top:5px;
}
.captcha-image {
  float:left;
  display:inline;
  margin:0;
  position:relative;
  width:258px;
}
.captcha-image .captcha-img {
  border:1px solid #b6b6b6;
  vertical-align:bottom;
  width:100%;
}
.registered-users .captcha-image { margin:0; }
.captcha-reload {
  cursor:pointer;
  position:absolute;
  top:2px;
  right:2px;
}
.captcha-reload.refreshing {
  animation:rotate 1.5s infinite linear;
  -webkit-animation:rotate 1.5s infinite linear;
  -moz-animation:rotate 1.5s infinite linear;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform:rotate(0);
  }
  0% {
    -webkit-transform:rotate(-360deg);
  }
}
@-moz-keyframes rotate {
  0% {
    -moz-transform:rotate(0);
  }
  0% {
    -moz-transform:rotate(-360deg);
  }
}
@keyframes rotate {
  0% {
    transform:rotate(0);
  }
  0% {
    transform:rotate(-360deg);
  }
}
.customer-address-index .my-account .back-link, .wishlist-index-index .my-account .back-link, .sales-order-history .my-account .back-link { width:100%; }
.wishlist-index-index .my-account .back-link
.my-account .title-buttons .link-rss {
  float:none;
  margin:0;
}
.my-account .title-buttons button.button { display:none; }
.my-account .title-buttons a {
  color:white;
  font-size:28px;
}
.dashboard .welcome-msg { padding:18px; }
.dashboard .welcome-msg p { margin:0; }
.dashboard .col2-set { margin:0 0 15px; }
.box-account { margin:0 0 20px; }
.box-account .box-head {
  margin:0 0 10px;
  text-align:right;
  background:#4f1c1f;
  color:white;
}
.box-account .box-head h2 {
  float:left;
  margin:0;
  font:normal 18px 'equipThin';
  text-transform:uppercase;
  padding:15px;
}
.dashboard .box .box-title {
  text-align:right;
  background-color:#854c4f;
  color:white;
  padding:0 0 0 8px;
}
.dashboard .box .box-title h3, .dashboard .box .box-title h4 {
  float:left;
  font:normal 18px 'equipThin';
  margin:0;
  line-height:36px;
}
.dashboard .box .box-title a {
  float:right;
  font:normal 18px 'equipThin';
  background:#442728;
  color:#ffffff;
  padding:8px;
  white-space:nowrap;
  text-align:center;
  min-width:110px;
}
.dashboard .box .box-content { padding:16px; }
.dashboard .box .box-content .col-1 { margin-bottom:15px; }
.dashboard .box .box-content a {
  display:block;
  font:normal 18px 'equipThin';
  background:#442728;
  color:#ffffff;
  padding:16px 16px;
  text-align:center;
  margin-top:16px;
}
.dashboard .box-recent .box-head h2 { background-image:url(../images/i_folder-table.gif); }
.dashboard .box-info .box-head h2 { background-image:url(../images/i_ma-info.gif); }
.dashboard .box-info h4 {
  font-size:18px;
  text-transform:uppercase;
  text-align:center;
}
.dashboard .box-info address {
  font:normal 12px 'equipThin';
  text-align:center;
}
.my-account button.button {
  width:70%;
  margin-top:1%;
}
.dashboard .box-reviews .box-head h2 { background-image:url(../images/i_ma-reviews.gif); }
.dashboard .box-reviews .number {
  float:left;
  font-size:10px;
  font-weight:bold;
  line-height:1;
  color:#ffffff;
  margin:3px -20px 0 0;
  padding:2px 3px;
  background:#0a263c;
}
.dashboard .box-reviews .details { margin-left:20px; }
.dashboard .box-reviews li.item { margin:0 0 7px; }
.dashboard .box-reviews li.item.last { margin:0; }
.dashboard .box-reviews .ratings { margin:7px 0 0; }
.dashboard .box-tags .box-head h2 { background-image:url(../images/i_ma-tags.gif); }
.dashboard .box-tags .number {
  float:left;
  font-size:10px;
  font-weight:bold;
  line-height:1;
  color:#ffffff;
  margin:3px -20px 0 0;
  padding:2px 3px;
  background:#0a263c;
}
.dashboard .box-tags .details { margin-left:20px; }
.dashboard .box-tags li.item { margin:0 0 7px; }
.dashboard .box-tags li.item.last { margin:0; }
.dashboard .box-tags .tags strong, .dashboard .box-tags .tags ul, .dashboard .box-tags .tags ul li { display:inline; }
.addresses-list h2 {
  font:normal 18px 'equipThin';
  color:#4f1c1f;
  background:#b78083;
  text-transform:uppercase;
  padding:16px;
}
.addresses-list h3 {
  font-size:13px;
  font-weight:normal;
  text-transform:uppercase;
  color:black;
  padding:16px;
  background:#c9a1a3;
}
.addresses-list address {
  font-style:normal;
  padding:16px 16px 0 16px;
}
.addresses-list p { margin:0; }
.addresses-list a {
  display:block;
  font:normal 18px 'equipThin';
  background:#a55f63;
  color:white;
  padding:16px 16px;
  text-align:center;
  margin-top:16px;
}
.addresses-list .link-remove { color:#646464; }
.addresses-list .separator { margin:0 3px; }
.addresses-list ol {
  list-style-type:none;
  padding:0 16px 16px 16px;
  background:#b78083;
}
.addresses-list li.item {
  background:#ffffff;
  margin-bottom:16px;
}
.addresses-list li.item:last-child { margin-bottom:0; }
.addresses-list li.empty {
  background:none;
  border:0;
  padding:0 16px;
}
.addresses-list li.empty p {
  font-weight:normal;
  padding:16px;
  background-color:#ffffff;
}
.addresses-list .addresses-additional li.item {
  background:none;
  border:0;
  padding:0;
}
.sales-order-history .my-account p {
  padding:30px;
  font-size:30px;
  text-align:center;
}
.order-info {
  background:#dee5e8;
  border:1px solid #d0cbc1;
  padding:4px 8px;
  margin:0 0 8px;
}
.order-info dt, .order-info dd, .order-info ul, .order-info li { display:inline; }
.order-info .current { font-weight:bold; }
.order-info li { margin:0 3px; }
.order-date { margin:10px 0; }
.order-info-box {
  background:#ffffff url(../images/bkg_block-title.gif) 0 0 repeat-x;
  border:1px solid #d0cbc1;
  padding:12px 15px;
  margin:0 0 15px;
}
.order-info-box h2 {
  font-weight:bold;
  font-size:13px;
}
.order-info-box .box-payment p { margin:0 0 3px; }
.order-info-box .box-payment th {
  font-weight:bold;
  padding-right:7px;
}
.order-items {
  width:100%;
  overflow-x:auto;
}
.order-items h2, .order-items h3 {
  clear:none;
  font-weight:bold;
  font-size:13px;
  padding:0;
  margin:0 0 5px;
  color:#0a263c;
}
.order-items .product-name {
  font-size:1em !important;
  font-weight:bold !important;
}
.order-items .link-print {
  color:#1e7ec8;
  font-weight:normal;
}
.order-items .order-links { text-align:right; }
.order-additional { margin:15px 0; }
.gift-message dt strong { color:#666666; }
.gift-message dd {
  font-size:13px;
  margin:5px 0 0;
}
.order-about dt { font-weight:bold; }
.order-about dd {
  font-size:13px;
  margin:0 0 7px;
}
.tracking-table { margin:0 0 15px; }
.tracking-table th {
  font-weight:bold;
  white-space:nowrap;
}
.tracking-table-popup { width:100%; }
.tracking-table-popup th {
  font-weight:bold;
  white-space:nowrap;
}
.tracking-table-popup th, .tracking-table-popup td { padding:1px 8px; }
.page-print .print-head { margin:0 0 15px; }
.page-print .print-head .logo { float:left; }
.page-print .print-head address {
  float:left;
  margin-left:15px;
}
.page-print h1 {
  font-size:16px;
  font-weight:bold;
}
.page-print h2, .page-print h3 {
  font-size:13px;
  font-weight:bold;
}
.page-print h2.h2 {
  font-size:16px;
  font-weight:bold;
}
.page-print .order-date {
  background:url(../images/bkg_divider1.gif) 0 100% repeat-x;
  padding:0 0 10px;
  margin:0 0 10px;
}
.page-print .col2-set { margin:0 0 10px; }
.page-print .gift-message-link { display:none; }
.page-print .price-excl-tax, .page-print .price-incl-tax {
  display:block;
  white-space:nowrap;
}
.page-print .cart-price, .page-print .price-excl-tax .label, .page-print .price-incl-tax .label, .page-print .price-excl-tax .price, .page-print .price-incl-tax .price { display:inline; }
.my-wishlist .data-table td { padding:10px; }
.my-wishlist .product-image {
  display:block;
  width:113px;
  height:113px;
  margin:0 0 5px;
}
.my-wishlist textarea {
  display:block;
  width:97%;
  height:109px;
}
.my-wishlist .buttons-set { margin-top:2em; }
.my-wishlist .buttons-set button.button { float:none; }
.my-wishlist .buttons-set .btn-add span, .my-wishlist .buttons-set .btn-share span {
  border-color:#406a83;
  background:#618499;
}
#wishlist-table .add-to-links { white-space:nowrap; }
.tag-customer-index .my-account p {
  padding:30px;
  font-size:30px;
  text-align:center;
}
.my-tag-edit {
  float:left;
  margin:0 0 10px;
}
.my-tag-edit .btn-remove {
  float:right;
  margin:4px 0 0 5px;
}
#my-tags-table { clear:both; }
#my-tags-table td { padding:10px; }
#my-tags-table .add-to-links { white-space:nowrap; }
.review-customer-index .my-account p {
  padding:30px;
  font-size:30px;
  text-align:center;
}
#my-reviews-table td { padding:10px; }
.product-review .product-img-box {
  float:left;
  width:140px;
}
.product-review .product-img-box .product-image {
  display:block;
  width:125px;
  height:125px;
}
.product-review .product-img-box .label {
  font-size:11px;
  margin:0 0 3px;
}
.product-review .product-img-box .ratings .rating-box {
  float:none;
  display:block;
  margin:0 0 3px;
}
.product-review .product-details { margin-left:150px; }
.product-review .product-name {
  font-size:16px;
  font-weight:bold;
  margin:0 0 10px;
}
.product-review h3 {
  font-size:12px;
  margin:0 0 3px;
  color:#2f2f2f;
}
.product-review .ratings-table { margin:0 0 10px; }
.product-review dt { font-weight:bold; }
.product-review dd {
  font-size:13px;
  margin:5px 0 0;
}
.sales-billing-agreement-index .my-account p {
  padding:30px;
  font-size:30px;
  text-align:center;
}
.billing-agreements .info-box { margin:15px 0; }
.billing-agreements .form-list li select { float:left; }
.billing-agreements .form-list li button.button {
  float:left;
  margin-left:10px;
}
.billing-agreements .table-caption {
  font-weight:bold;
  font-size:13px;
}
.sales-recurring-profile-index .my-account p {
  padding:30px;
  font-size:30px;
  text-align:center;
}
.oauth-customer-token-index .my-account p {
  padding:30px;
  font-size:30px;
  text-align:center;
}
.downloadable-customer-products .my-account p {
  padding:30px;
  font-size:30px;
  text-align:center;
}
.checkout-cart-index .cart-empty p {
  padding:30px;
  font-size:30px;
  text-align:center;
}
.cart-msrp-totals {
  color:red;
  font-size:12px !important;
  font-weight:bold;
  margin:10px 10px 0;
  padding:10px;
  text-align:right;
  text-transform:uppercase;
}
.map-cart-sidebar-total {
  color:red;
  display:block;
  font-size:10px;
  font-weight:bold;
  text-align:left;
  padding:2px 5px;
  text-shadow:0 1px 0 #ffffff;
}
.map-popup {
  background:#ffffff;
  border:1px solid #aaaaaa;
  margin:12px 0 0;
  position:absolute;
  -moz-box-shadow:0 0 6px #cccccc;
  -webkit-box-shadow:0 0 6px #cccccc;
  box-shadow:0 0 6px #cccccc;
  text-align:left;
  width:300px;
  z-index:100;
}
.map-popup-heading {
  background:#d9e5ee;
  border-bottom:1px solid #cccccc;
  padding:5px 30px 5px 10px;
  width:260px;
}
.map-popup-heading h2 {
  font-size:16px;
  margin:0;
  text-shadow:0 1px 0 #f6f6f6;
  overflow:hidden;
  white-space:nowrap;
  word-wrap:break-word;
  text-align:left;
  text-overflow:ellipsis;
}
.map-popup-arrow {
  background:url(../images/map_popup_arrow.gif) no-repeat;
  position:absolute;
  left:50%;
  top:-10px;
  height:10px;
  width:19px;
}
.map-popup-close {
  background:url(../images/btn_window_close.gif) no-repeat;
  display:block;
  position:absolute;
  top:8px;
  right:10px;
  height:15px;
  width:15px;
  text-indent:-9999em;
  -moz-box-shadow:0 0 3px #999999;
  -webkit-box-shadow:0 0 3px #999999;
  box-shadow:0 0 3px #999999;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
}
.map-popup-content {
  border-top:1px solid #eeeeee;
  padding:10px;
  overflow:hidden;
  text-align:left;
  width:280px;
}
.map-popup-checkout {
  display:inline;
  float:right;
  text-align:right;
}
.map-popup-checkout span {
  display:block;
  padding-right:30px;
}
.map-popup-checkout .paypal-logo { margin:0 0 5px; }
.map-popup-price .price-box, .map-popup-price .price-box .special-price {
  margin:0;
  padding:0;
}
.map-popup-price { margin:5px 0 0; }
.map-popup-text {
  clear:right;
  margin:0 10px;
  padding:10px 0;
  text-align:left;
  word-wrap:break-word;
}
.map-popup-only-text { border-top:1px solid #dddddd; }
.footer-container { border-top:15px solid #b6d1e2; }
.footer {
  width:100%;
  margin:0 auto;
  padding:10px 10px 50px;
  overflow:hidden;
}
.footer .store-switcher {
  display:inline;
  margin:0 5px 0 0;
  color:#ffffff;
}
.footer .store-switcher label {
  font-weight:bold;
  vertical-align:middle;
}
.footer .store-switcher select {
  padding:0;
  vertical-align:middle;
}
.footer a {
  color:#ffffff;
  text-decoration:none;
}
.footer a:hover { text-decoration:underline; }
.footer .bugs {
  margin:13px 0 0;
  color:#ecf3f6;
}
.footer .bugs a {
  color:#ecf3f6;
  text-decoration:underline;
}
.footer .bugs a:hover { text-decoration:none; }
.footer address {
  margin:0 0 20px;
  color:#ecf3f6;
}
.footer address a {
  color:#ecf3f6;
  text-decoration:underline;
}
.footer address a:hover { text-decoration:none; }
.footer ul { display:inline; }
.footer ul.links { display:block; }
.footer li {
  display:inline;
  background:url(../images/bkg_pipe2.gif) 100% 60% no-repeat;
  padding:0 7px 0 4px;
}
.footer li.last {
  background:none !important;
  padding-right:0 !important;
}
.footer-container .bottom-container { margin:0 0 5px; }
.home-callout { margin-bottom:12px; }
.home-callout img { display:block; }
.home-spot {
  float:left;
  width:470px;
  margin-left:20px;
}
.best-selling h3 {
  margin:12px 0 6px 0;
  color:#e25203;
  font-size:1.2em;
}
.best-selling table { border-top:1px solid #cccccc; }
.best-selling tr.odd { background:#eeeeee url(../images/best_selling_tr_odd_bg.gif) 0 100% repeat-x; }
.best-selling tr.even { background:#ffffff url(../images/best_selling_tr_even_bg.gif) 0 100% repeat-x; }
.best-selling td {
  width:50%;
  border-bottom:1px solid #cccccc;
  padding:8px 10px 8px 8px;
  font-size:11px;
}
.best-selling .product-img {
  float:left;
  border:2px solid #dcdcdc;
}
.best-selling .product-description {
  margin-left:107px;
  line-height:1.3em;
}
.best-selling a.product-name, .home-spot .best-selling a.product-name:hover { color:#203548; }
.clearer:after, .header-container:after, .header-container .top-container:after, .header:after, .header .quick-access:after, #nav:after, .main:after, .footer:after, .footer-container .bottom-container:after, .col-main:after, .col2-set:after, .col3-set:after, .col3-layout .product-options-bottom .price-box:after, .col4-set:after, .search-autocomplete li:after, .block .block-content:after, .block .actions:after, .block li.item:after, .block-poll li:after, .block-layered-nav .currently li:after, .page-title:after, .products-grid:after, .products-list li.item:after, .box-account .box-head:after, .dashboard .box .box-title:after, .box-reviews li.item:after, .box-tags li.item:after, .pager:after, .sorter:after, .ratings:after, .add-to-box:after, .add-to-cart:after, .product-essential:after, .product-collateral:after, .product-view .product-img-box .more-views ul:after, .product-view .box-tags .form-add:after, .product-view .product-shop .short-description:after, .product-view .box-description:after, .product-options .options-list li:after, .product-options-bottom:after, .product-review:after, .cart:after, .cart-collaterals:after, .cart .crosssell li.item:after, .opc .step-title:after, .checkout-progress:after, .multiple-checkout .place-order:after, .group-select li:after, .form-list li:after, .form-list .field:after, .buttons-set:after, .page-print .print-head:after, .advanced-search-summary:after, .gift-messages-form .item:after, .send-friend .form-list li p:after {
  display:block;
  content:".";
  clear:both;
  font-size:0;
  line-height:0;
  height:0;
  overflow:hidden;
}
.qty-plus {
  margin-left:25px;
  vertical-align:middle;
}
.qty-minus {
  margin-right:25px;
  vertical-align:middle;
}
.qty-minus img, .qty-plus img {
  height:50px;
  vertical-align:middle;
}
