.COMMON-CATEGORY-PRICE {
  font-size:21px;
  color:#c76200;
}
.COMMON-CATEGORY-ADD-TO-CART-BUTTON {
  background:#f18200;
  text-align:center;
  white-space:nowrap;
  text-transform:uppercase;
  color:#ffffff;
}
.MOBILE-DASHBOARD-P {
  padding:30px;
  font-size:30px;
  text-align:center;
}
.responsive-site-container .header-container .header .nav-access {
  width:1%;
  padding-left:8px;
  font-size:26px;
  color:white;
}
.responsive-site-container .header-container .header h1.logo {
  display:table-cell;
  width:47%;
  text-align:left;
  padding:0 8px 0 8px;
  font-size:10px;
  height:100%;
  vertical-align:middle;
}
.responsive-site-container .header-container .header h1.logo a {
  display:block;
  width:100%;
}
.responsive-site-container .header-container .header h1.logo a img {
  vertical-align:middle;
  padding-left:8px;
  width:100%;
  max-width:300px;
}
.responsive-site-container .header-container .header .quick-access {
  width:50%;
  display:table-cell;
}
.responsive-site-container .header-container .header .quick-access label, .responsive-site-container .header-container .header .quick-access .welcome-msg, .responsive-site-container .header-container .header .quick-access .links, .responsive-site-container .header-container .header .quick-access button { display:none; }
.responsive-site-container .header-container .header .quick-access input {
  font-size:18px;
  padding:4px;
  border-radius:4px;
  width:100%;
  border:0;
  outline:0;
  color:#666666;
}
.responsive-site-container .header-container .header .search-button {
  padding:0 2px 0 2px;
  font-size:26px;
  color:white;
  width:1%;
}
.responsive-site-container .header-container .header .search-button .fa-search {
  padding:4px;
  border:1px solid #666666;
  font-size:23px;
  color:black;
  background-color:#666666;
  border-radius:3px;
}
.responsive-site-container .header-container .header .search-button.open { background:gray; }
.responsive-site-container .header-container .header .go-left {
  padding:0 2px 0 2px;
  font-size:26px;
  color:white;
}
.responsive-site-container .header-container .header .go-right {
  padding:0 2px 0 2px;
  font-size:26px;
  color:white;
  width:1%;
}
.responsive-site-container .header-container .header>a.logo {
  display:table-cell;
  width:47%;
  vertical-align:middle;
  text-align:left;
  padding:0 8px 0 8px;
  font-size:10px;
}
.responsive-site-container .header-container .header>a.logo img {
  vertical-align:middle;
  padding-left:8px;
  height:80%;
  max-height:50px;
}
.products-grid li.item {
  float:left;
  width:50%;
}
.products-list li.item {
  border-bottom:1px solid #d9ddd3;
  padding:12px 10px;
}
.products-list li.item.last { border-bottom:0; }
.products-list .product-image {
  float:left;
  width:135px;
  height:135px;
  margin:0 0 10px;
}
.products-list .product-shop { margin-left:150px; }
.products-list .product-name {
  margin:0 0 5px;
  font-weight:bold;
  font-size:13px;
  color:#203548;
}
.products-list .product-name a { color:#203548; }
.products-list .price-box {
  float:left;
  margin:3px 13px 5px 0;
}
.products-list .availability {
  float:left;
  margin:3px 0 0;
}
.products-list .desc {
  clear:both;
  padding:6px 0 0;
  margin:0 0 15px;
  line-height:1.35;
}
.products-list .desc .link-learn { font-size:11px; }
.products-list .add-to-links { clear:both; }
.products-list .add-to-links li { display:inline; }
.products-list .add-to-links .separator {
  display:inline;
  margin:0 2px;
}
.product-view .product-essential .product-name, .product-view .product-shop {
  width:50%;
  float:right;
}
.product-view .product-img-box {
  float:left;
  width:50%;
}
.product-view .box-tags .form-add .input-box {
  float:left;
  width:49.5%;
  margin:0 0 5px 0;
  background:url(../images/i_tag_add.gif) 0 2px no-repeat;
  padding:0;
}
.product-view .box-tags .form-add button.button {
  width:49.5%;
  margin-left:1%;
  vertical-align:middle;
  overflow:hidden;
}
.product-view .box-tags .form-add button.button span { padding:6px; }
.email-friend, .no-rating {
  width:100%;
  margin-top:1%;
}
