/*  Header style  */
/************************
         MEDIUM
*************************/
.responsive-site-container {

    .header-container {


        /* this contains all basic nav*/
        .header {
           
            /* widths */

            .nav-access {
                width: @col-access-width;

                padding-left: 8px;
                font-size: @mobile-bar-top-icon-size;
                color: @mobile-bar-top-bars-color;
            }

            h1.logo {
  
                display: table-cell;
                width: @col-logo-width;

                text-align: left;
                padding:0 8px 0 8px;
                font-size: 10px;
                height: 100%;
                vertical-align: middle;

                a {
                    display: block;
                    width:100%;

                    img {
                        vertical-align: middle;
                        padding-left: 8px;
                        width: 100%;
                        max-width: 300px;
                     }

                }


            }

            .quick-access {
                width: @col-search-width;
                display: table-cell;

                label,
                .welcome-msg,
                .links,
                button { display: none }
                input {
                    font-size: 18px;
                    padding:4px;
                    border-radius: 4px;
                    width: 100%;
                    border: 0;
                    outline: 0;
                    color:#666;
                }
                

            }

            .search-button {
                padding: 0 2px 0 2px;
                font-size: @mobile-bar-top-icon-size;
                color: @mobile-bar-top-bars-color;
                width: @col-bsearch-width;

                .fa-search {
                    padding:4px;
                    border:1px solid #666;
                    font-size: 23px;
                    color: black;
                    background-color: #666;
                    border-radius: 3px;
                }

            }

            .search-button.open {
                background: @mobile-bar-top-icon-open-bg;
            }

            .go-left {
                padding: 0 2px 0 2px;
                font-size: @mobile-bar-top-icon-size;
                color: @mobile-bar-top-bars-color;
            }

            .go-right {
                padding: 0 2px 0 2px;
                font-size: @mobile-bar-top-icon-size;
                color: @mobile-bar-top-bars-color;
                width:@col-bcart-width;
            }

        }

        .header>a.logo {

            display: table-cell;
            width: @col-logo-width;

            vertical-align: middle;            
            text-align: left;
            padding:0 8px 0 8px;
            font-size: 10px;

                img {
                    vertical-align: middle;
                    padding-left: 8px;
                    height : auto;
                    max-width  : 100%;
                    max-height: @mobile-bar-top-height;
                }

        }

    }

}