/* Account login create */
/************************
       BASE MOBILE
*************************/
/*
 *
 * Takes after first section in the magento stylesheet
 *
 *
 *
 *
 */
.account-login .content {
    padding:14px 21px;
    background:#faf7ee url(../images/bkg_login-box.gif) 0 0 repeat-x;
    border:1px
    solid #bbb6a5;
    border-bottom:0;
}

.account-login .content input {
    font-size: 24px;
    width: 100%;
    padding:8px;
}

.account-login button.button,
.account-create button.button {
    float: none;
    margin-top: 1%;
    width: 70%;
}

.account-login .col-1 button.button {
    width: 100%;
}

.account-login button.button span {
    height: auto;
    font-size: 20px;
    padding: 10px 8px;
}

.account-login .content h2 {
    font            : @mobile-login-content-h2-font;
    color           : @mobile-login-content-h2-color;
    background      : @mobile-login-content-h2-bg;
    margin          : 0 0 14px;
    padding         : 0 0 10px 0;
    border-bottom   : @mobile-login-content-border-bottom;
    text-transform  : uppercase; 
}

.account-login .buttons-set {
    border:1px solid #bbb6a5;
    border-top:0;
    margin:0;
    padding:8px 13px;
    background:#dee5e8 url(../images/bkg_buttons-set1.gif) 0 0 repeat-x;
    text-align: center;
}