/*        Category      */
/************************
       BASE MOBILE
*************************/
/*
 *
 * Takes after first section in the magento stylesheet
 *
 *
 *
 *
 */
.category-title { border:0; margin:0 0 7px; }
.category-image { width:100%; overflow:hidden; margin:0 0 10px; text-align:center; }
.category-image img {}
.category-description { margin:0 0 10px; }
.category-products {}

/* View Type: Grid */
.products-grid {
    border-bottom:1px solid #d9ddd3;
    background:url(../images/bkg_grid.gif) 0 0 repeat;
    position:relative;
}

.products-grid.last { border-bottom:0; }

.products-grid li.item {
    position: relative;
    width:100%;
    padding:12px 10px 10px;
    overflow: hidden;
}

.products-grid .product-image {
    display:block;
    width:100%;
    font-size: 0;
}

.products-grid .product-image img { width:100%; height:auto !important }
.products-grid .product-name {
    margin:0;
    font-size:13px;
    color:#203548;
    display: block;
    padding: 10px;
    background-color: green;
}

.products-grid .product-name a { color:#203548; }
.products-grid .price-box {
    display: block;
    width:100%;
    background-color: aliceblue;
}
.products-grid .availability { line-height:21px; }

.products-grid .actions {
    position: relative;
    overflow: hidden;
    font-size: 0;
}

.products-grid .actions button {
    width: 100%;
}

.products-grid .actions button.button span {
    padding: 15px 8px;
    font-size: 24px;
    height: auto;
}

.col2-left-layout .products-grid,
.col2-right-layout .products-grid { width:632px; margin:0 auto; }
.col1-layout .products-grid { width:790px; margin:0 auto; }

/* View Type: List */
.products-list li.item { border-bottom:1px solid #d9ddd3; padding:12px 10px; }
.products-list li.item.last { border-bottom:0; }
.products-list .product-image { float:left; width:135px; height:135px; margin:0 0 10px; }
.products-list .product-shop { margin-left:150px; }
.products-list .product-name { margin:0 0 5px; font-weight:bold; font-size:13px; color:#203548; }
.products-list .product-name a { color:#203548; }
.products-list .price-box { float:left; margin:3px 13px 5px 0; }
.products-list .availability { float:left; margin:3px 0 0; }
.products-list .desc { clear:both; padding:6px 0 0; margin:0 0 15px; line-height:1.35; }
.products-list .desc .link-learn { font-size:11px; }
.products-list .add-to-links { clear:both; }
.products-list .add-to-links li { display:inline; }
.products-list .add-to-links .separator { display:inline; margin:0 2px; }