/*  Header style  */
/************************
       BASE MOBILE
*************************/
.responsive-site-container {

    .header-container {
        position: absolute;
        top:0; left:0;
        width:100%;
        height: @mobile-bar-top-height;
        background-color: transparent;
        overflow:visible;

        /* this contains all basic nav*/
        .header {
            position: relative;
            height: 100%;
            width: 100%;
            background-color: @mobile-bar-top-bars-bg;
            z-index: 3;
            overflow: hidden;
            display: table;
            
            /* we are not displaying the h1 */
            h1 strong { display: none }

            .nav-access,
            .quick-access,
            .search-button,
            .go-left,
            .go-right {
                 display: table-cell;
                 height: 100%;
                 vertical-align: middle;
                 text-align: center;
             }

            .nav-access,
            .search-button,
            .go-left,
            .go-right {
                cursor: pointer;
                font-size: 18px;
                min-width: 50px;
             }

            h1.logo {
                display: table-cell;
                width: 97%;

                vertical-align: middle;            
                text-align: left;
                padding:0 8px 0 8px;
                font-size: 10px;
                
                a {
                    display: block;
                    width:100%;

                    img {
                        vertical-align: middle;
                        padding-left: 8px;
                        width: 100%;
                        max-height: @mobile-bar-top-height;
                    }
                }
            }

            .nav-access {
                padding-left: 8px;
                font-size: @mobile-bar-top-icon-size;
                color: @mobile-bar-top-bars-color;
                width: 1%;
            }

            .quick-access {
                display: none;
            }

            .search-button {
                padding: 0 2px 0 2px;
                font-size: @mobile-bar-top-icon-size;
                color: @mobile-bar-top-bars-color;
                width: 1%;

                .fa-search {
                    color: white;
                }
            }

            .search-button.open {
                background: @mobile-bar-top-icon-open-bg;
            }

            .go-left {
                padding: 0 2px 0 2px;
                font-size: @mobile-bar-top-icon-size;
                color: @mobile-bar-top-bars-color;
            }

            .go-right {
                padding: 0 2px 0 2px;
                font-size: @mobile-bar-top-icon-size;
                color: @mobile-bar-top-bars-color;
                width:1%;
            }

        }

        .header>a.logo {
            display: table-cell;
            width: 97%;

            vertical-align: middle;            
            text-align: left;
            padding:0 8px 0 8px;
            font-size: 10px;

                img {
                    vertical-align: middle;
                    padding-left: 8px;
                    width: 100%;
                    /*max-width: 100%;*/
                    max-height: @mobile-bar-top-height;
                }

        }

        /* just the popup search bar hidden underneath*/
        .searchbar {
            position: absolute;
            top:0; left:0;
            height: 100%;
            width: 100%;
            background: @mobile-bar-top-icon-open-bg;
            z-index: 2;
            display: table;
            vertical-align: middle;

            -webkit-transition: top .25s @easeInOutQuad;
               -moz-transition: top .25s @easeInOutQuad;
                -ms-transition: top .25s @easeInOutQuad;
                 -o-transition: top .25s @easeInOutQuad;
                    transition: top .25s @easeInOutQuad;

            label { display: none; }

            form, i { display: block; vertical-align: middle }
            form {
                padding: 6px 28px 0 28px;

                input  {
                    font-size: 24px;
                    padding:4px;
                    border-radius: 4px;
                    width: 100%;
                    border: 0;
                    outline: 0;
                }

                button { display: none;}
            }

        }

        .searchbar.open {
            top:100%;
        }

        .cart {
            display: none;
        }

    }

}