/*       My account     */
/************************
       BASE MOBILE
*************************/
/*
 *
 * Takes after first section in the magento stylesheet
 * < Common Checkout Styles
 *
 *
 *
 */

 .customer-address-index .my-account .back-link,
 .wishlist-index-index .my-account .back-link,
 .sales-order-history .my-account .back-link {
    width: 100%;
 }

.wishlist-index-index .my-account .back-link
.my-account .title-buttons .link-rss { float:none; margin:0; }

.my-account .title-buttons button.button {
    display: none;
}

.my-account .title-buttons a {
    color: white;
    font-size: 28px;
}

/********** < Dashboard */
.dashboard .welcome-msg {
    padding:18px;
}
.dashboard .welcome-msg p { margin:0; }
.dashboard .col2-set { margin:0 0 15px; }

/* General Box */
.box-account {
    margin: 0 0 20px;
}

.box-account .box-head {
    margin      : 0 0 10px;
    text-align  : right;
    background  : @dashboard-box-account-box-head-bg;
    color       : @dashboard-box-account-box-head-color;
}

.box-account .box-head h2 {
    float  : left;
    margin : 0;
    font   : @dashboard-box-account-box-head-font;
    text-transform:uppercase;
    padding:15px;
}

.dashboard .box .box-title {
    text-align:right;
    background-color: @dashboard-box-title-bg;
    color: @dashboard-box-title-color;
    padding: 0 0 0 8px;
}

.dashboard .box .box-title h3,
.dashboard .box .box-title h4 {
    float: left;
    font: @dashboard-box-title-font;
    margin: 0;
    line-height: 36px;
}

.dashboard .box .box-title a {
    float            : right;
    font             : @dashboard-button-action-font;
    background       : @dashboard-button-action-bg;
    color            : @dashboard-button-action-color;
    padding          : 8px;
    white-space      : nowrap;
    text-align       : center;
    min-width        : 110px;
}

.dashboard .box .box-content {
    padding: 16px;
}

.dashboard .box .box-content .col-1 {
    margin-bottom: 15px;
}

.dashboard .box .box-content a {
    display     : block;
    font        : @dashboard-button-action-font;
    background  : @dashboard-button-action-bg;
    color       : @dashboard-button-action-color;
    padding     : 16px 16px;
    text-align  : center;
    margin-top  : 16px;
}

/* Block: Recent Orders */
.dashboard .box-recent .box-head h2 { background-image:url(../images/i_folder-table.gif); }

/* Block: Account Information */
.dashboard .box-info .box-head h2 { background-image:url(../images/i_ma-info.gif); }

.dashboard .box-info h4 {
    font-size: 18px;
    text-transform:uppercase;
    text-align: center;
}

.dashboard .box-info address {
    font: normal 12px @default-font;
    text-align: center;
}

.my-account button.button {
    width: 70%;
    margin-top: 1%;
}

/* Block: Reviews */
.dashboard .box-reviews .box-head h2 { background-image:url(../images/i_ma-reviews.gif); }
.dashboard .box-reviews .number { float:left; font-size:10px; font-weight:bold; line-height:1; color:#fff; margin:3px -20px 0 0; padding:2px 3px; background:#0a263c; }
.dashboard .box-reviews .details { margin-left:20px; }
.dashboard .box-reviews li.item { margin:0 0 7px; }
.dashboard .box-reviews li.item.last { margin:0; }
.dashboard .box-reviews .ratings { margin:7px 0 0; }

/* Block: Tags */
.dashboard .box-tags .box-head h2 { background-image:url(../images/i_ma-tags.gif); }
.dashboard .box-tags .number { float:left; font-size:10px; font-weight:bold; line-height:1; color:#fff; margin:3px -20px 0 0; padding:2px 3px; background:#0a263c; }
.dashboard .box-tags .details { margin-left:20px; }
.dashboard .box-tags li.item { margin:0 0 7px; }
.dashboard .box-tags li.item.last { margin:0; }
.dashboard .box-tags .tags strong,
.dashboard .box-tags .tags ul,
.dashboard .box-tags .tags ul li { display:inline; }
/********** Dashboard > */

/* Address Book */
.addresses-list h2 {
    font            : @mobile-dashboard-addresses-h2;
    color           : @mobile-dashboard-addresses-color;
    background      : @mobile-dashboard-addresses-default-addresses-bg;
    text-transform  : uppercase;
    padding         : 16px;
}

.addresses-list h3 {
    font-size:13px;
    font-weight: normal;
    text-transform: uppercase;
    color: black;
    padding: 16px;
    background: @mobile-dashboard-addresses-h3-bg;
}

.addresses-list address {
    font-style: normal;
    padding: 16px 16px 0 16px;
}

.addresses-list p { margin:0; }
.addresses-list a {
    display     : block;
    font        : @mobile-dashboard-addresses-button-action-font;
    background  : @mobile-dashboard-addresses-button-action-bg;
    color       : @mobile-dashboard-addresses-button-action-color;
    padding     : 16px 16px;
    text-align  : center;
    margin-top  : 16px;
}
.addresses-list .link-remove { color:#646464; }
.addresses-list .separator { margin:0 3px; }

.addresses-list ol {
    list-style-type: none;
    padding:0 16px 16px 16px;
    background:@mobile-dashboard-addresses-default-addresses-bg;
}

.addresses-list li.item {
    background:#fff;
    margin-bottom: 16px;
}

.addresses-list li.item:last-child {
    margin-bottom: 0;
}

.addresses-list li.empty { background:none; border:0; padding:0 16px; }
.addresses-list li.empty p { font-weight:normal; padding:16px; background-color: #fff }
.addresses-list .addresses-additional li.item { background:none; border:0; padding:0; }

/* Order View */

.sales-order-history .my-account p {
    .MOBILE-DASHBOARD-P;
}

.order-info { background:#dee5e8; border:1px solid #d0cbc1; padding:4px 8px; margin:0 0 8px; }
.order-info dt,
.order-info dd,
.order-info ul,
.order-info li { display:inline; }
.order-info .current { font-weight:bold; }
.order-info li { margin:0 3px; }

.order-date { margin:10px 0; }

.order-info-box { background:#fff url(../images/bkg_block-title.gif) 0 0 repeat-x; border:1px solid #d0cbc1; padding:12px 15px; margin:0 0 15px; }
.order-info-box h2 { font-weight:bold; font-size:13px; }
.order-info-box .box-payment p { margin:0 0 3px; }
.order-info-box .box-payment th { font-weight:bold; padding-right:7px; }

.order-items { width:100%; overflow-x:auto; }
.order-items h2,
.order-items h3 { clear:none; font-weight:bold; font-size:13px; padding:0; margin:0 0 5px; color:#0a263c; }
.order-items .product-name { font-size:1em !important; font-weight:bold !important; }
.order-items .link-print { color:#1e7ec8; font-weight:normal; }
.order-items .order-links { text-align:right; }

.order-additional { margin:15px 0; }
/* Order Gift Message */
.gift-message dt strong { color:#666; }
.gift-message dd { font-size:13px; margin:5px 0 0; }
/* Order Comments */
.order-about dt { font-weight:bold; }
.order-about dd { font-size:13px; margin:0 0 7px; }

.tracking-table { margin:0 0 15px; }
.tracking-table th { font-weight:bold; white-space:nowrap; }

.tracking-table-popup { width:100%; }
.tracking-table-popup th { font-weight:bold; white-space:nowrap; }
.tracking-table-popup th,
.tracking-table-popup td { padding:1px 8px; }

/* Order Print Pages */
.page-print .print-head { margin:0 0 15px; }
.page-print .print-head .logo { float:left; }
.page-print .print-head address { float:left; margin-left:15px; }
.page-print h1 { font-size:16px; font-weight:bold; }
.page-print h2,
.page-print h3 { font-size:13px; font-weight:bold; }
.page-print h2.h2 { font-size:16px; font-weight:bold; }
.page-print .order-date { background:url(../images/bkg_divider1.gif) 0 100% repeat-x; padding:0 0 10px; margin:0 0 10px; }
.page-print .col2-set { margin:0 0 10px; }
/* Price Rewrites */
.page-print .gift-message-link { display:none; }
.page-print .price-excl-tax,
.page-print .price-incl-tax { display:block; white-space:nowrap; }
.page-print .cart-price,
.page-print .price-excl-tax .label,
.page-print .price-incl-tax .label,
.page-print .price-excl-tax .price,
.page-print .price-incl-tax .price { display:inline; }

/* My Wishlist */
.my-wishlist .data-table td { padding:10px; }
.my-wishlist .product-image { display:block; width:113px; height:113px; margin:0 0 5px; }
.my-wishlist textarea { display:block; width:97%; height:109px; }
.my-wishlist .buttons-set { margin-top:2em; }
.my-wishlist .buttons-set button.button { float:none; }
.my-wishlist .buttons-set .btn-add span,
.my-wishlist .buttons-set .btn-share span { border-color:#406a83; background:#618499; }
#wishlist-table .add-to-links { white-space:nowrap; }

/* My Tags */
.tag-customer-index .my-account p {
    .MOBILE-DASHBOARD-P;
}

.my-tag-edit { float:left; margin:0 0 10px; }
.my-tag-edit .btn-remove { float:right; margin:4px 0 0 5px; }
#my-tags-table { clear:both; }
#my-tags-table td { padding:10px; }
#my-tags-table .add-to-links { white-space:nowrap; }

/* My Reviews */

.review-customer-index .my-account p {
    .MOBILE-DASHBOARD-P;
}

#my-reviews-table td { padding:10px; }

.product-review .product-img-box { float:left; width:140px;  }
.product-review .product-img-box .product-image { display:block; width:125px; height:125px; }
.product-review .product-img-box .label { font-size:11px; margin:0 0 3px; }
.product-review .product-img-box .ratings .rating-box { float:none; display:block; margin:0 0 3px; }
.product-review .product-details { margin-left:150px; }
.product-review .product-name { font-size:16px; font-weight:bold; margin:0 0 10px; }
.product-review h3 { font-size:12px; margin:0 0 3px; color:#2f2f2f; }
.product-review .ratings-table { margin:0 0 10px; }
.product-review dt { font-weight:bold; }
.product-review dd { font-size:13px; margin:5px 0 0; }

/* Billing Agreements */
.sales-billing-agreement-index .my-account p {
    .MOBILE-DASHBOARD-P;
}

.billing-agreements .info-box{ margin:15px 0; }
.billing-agreements .form-list li select { float:left; }
.billing-agreements .form-list li button.button { float:left; margin-left:10px; }
.billing-agreements .table-caption { font-weight:bold; font-size:13px; }

/* Recurring profiles */
.sales-recurring-profile-index .my-account p {
    .MOBILE-DASHBOARD-P;
}

/* My applications */
.oauth-customer-token-index .my-account p {
    .MOBILE-DASHBOARD-P;
}

/* My Downloadable products */
.downloadable-customer-products .my-account p {
    .MOBILE-DASHBOARD-P;
}

/* My Cart */
.checkout-cart-index .cart-empty p {
    .MOBILE-DASHBOARD-P;
}
/* ======================================================================================= */