/* responsive slideout header */
/************************
       BASE MOBILE
*************************/

.responsive-header-container {

    ul.links,
    ul.navigation {
        max-height: 0;
        overflow: hidden;

        -webkit-transition: max-height .35s @easeInOutExpo;
           -moz-transition: max-height .35s @easeInOutExpo;
            -ms-transition: max-height .35s @easeInOutExpo;
             -o-transition: max-height .35s @easeInOutExpo;
                transition: max-height .35s @easeInOutExpo;                

    }


    ul li.last a {
        margin-bottom: 0;
    }

    .slideout-links {

        ul li a,
        ul li.current strong {
            display: block;
            padding:8px;
            font: @slideout-font;
            background-color: @slideout-links-other-bg;
            margin-bottom:1px;
            max-width:320px;
            width: 250px;
            color: @slideout-links-other-color;
            padding-left: @padding-factor * 3;
        }

        ul.links > li > a {
            background: @slideout-links-toplevel-bg;
            color: @slideout-links-toplevel-color;
            padding-left: @padding-factor * 2;
        }

        ul li.current strong {
            background-color: @slideout-links-current-bg;
            color: @slideout-links-current-color;
        }

        /* expandable section title */
        a.head-link {
            color          : @slideout-links-head-links-color;
            background     : url('@{imgpath}/slideout-arrow-closed.png') no-repeat center right @slideout-links-head-links-bg;
            text-transform : uppercase;
            padding-left   : @padding-factor;
        }

        .open > a.head-link {
            color      : @slideout-links-head-links-open-color;
            background : url('@{imgpath}/slideout-arrow-open.png') no-repeat center right @slideout-links-head-links-open-bg;
        }

        ul.links > li > a.level-top {
            background: @slideout-links-toplevel-bg;
        }


        ul.links > li > a.level-top:after {
            font-family: FontAwesome;
            content: "\f054";
            font-size: 12px;
            margin-left: 10px;
        }
        
        ul.links > li.open > a.level-top {
            background: @slideout-links-toplevel-bg;
            color: @slideout-links-toplevel-color;

        }

        ul.links > li.open > a.level-top:after {
            font-family: FontAwesome;
            content: "\f078";
            font-size: 12px;
            margin-left: 10px;
        }

    }

    .slideout-menu {

        ul li a {
            display: block;
            padding:8px;
            font: @slideout-font;
            color: @slideout-links-other-color;
            background-color: @slideout-links-other-bg;
            margin-bottom:1px;
            max-width:320px;
            width: 250px;
        }


        /* expandable section title */
        a.head-link {
            color          : @slideout-menu-head-links-color;
            background     : url('@{imgpath}/slideout-arrow-closed.png') no-repeat center right @slideout-products-head-links-bg;
            text-transform : uppercase;

        }

        .open > a.head-link {
            background : url('@{imgpath}/slideout-arrow-open.png') no-repeat center right @slideout-products-head-links-open-bg;
        }
        
        .open > a.level-top {
            background:url('@{imgpath}/slideout-arrow-open-small.png') no-repeat center right @slideout-products-toplevel-open-bg;
        }

        /* expandable section title */
        .nav-container a.head-link {
            background-color: @slideout-title-menu-bg;
            text-transform: uppercase;
        }

        /* paddings and backgrounds for various levels categories */
        ul li {

            a.level-top {
                padding-left: @padding-factor;
                background:url('@{imgpath}/slideout-arrow-closed-small.png') no-repeat center right @slideout-products-toplevel-bg;
                color: @slideout-products-toplevel-color;
            }

            .level1 a {
                padding-left: @padding-factor * 2;
                background: @slideout-products-level1-bg;
                color: @slideout-products-toplevel-color;
            }

            .level2 a {
                padding-left: @padding-factor * 3;
            }
        }
    }

    ul.visible {
        max-height: 1000px;
        display: block;
    }

    ul.hide {
        max-height: 0;
        overflow: hidden;
    }

    .close {
        display: table-cell;
        vertical-align: middle;
        padding-left: 12px;
        font:@slideout-font;
        background-color: @slideout-close-bg;
        margin-bottom:1px;
        min-width:@slideout-width;
        color:@slideout-close-color;
        cursor: pointer;
        height: @mobile-bar-top-height;
    }

    .close span {
        background-color: @slideout-close-X-bg;
        color: @slideout-close-X-color;
        border-radius: 15px;
        padding:2px 8px;
    }

}