/* spinner.less */
/************************
       BASE MOBILE
*************************/

.qty-plus {
    margin-left: 25px;
    vertical-align: middle;
}

.qty-minus {
    margin-right: 25px;
    vertical-align: middle;
}

.qty-minus img, .qty-plus img {
    height: 50px;
    vertical-align: middle;
}